@charset "UTF-8";
/* CSS Document */
/* reset & set
-------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  letter-spacing: 0.1em;
}

li {
  list-style-type: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a img:hover, a:hover {
  opacity: 0.8;
}

li img {
  display: block;
}

a img {
  border-style: none;
}

img {
  vertical-align: bottom;
  width: 100%;
}

input,
label,
select,
button,
submit,
textarea {
  -webkit-box-sizing: border-box;
  background: none;
  border: 0;
  box-sizing: border-box;
  display: inline-block;
  font: inherit;
  line-height: 1;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  white-space: normal;
}

/* iOSでのデフォルトスタイルをリセット */
input[type="submit"],
input[type="button"] {
  -moz-appearance: button;
  -webkit-appearance: button;
  -webkit-box-sizing: content-box;
  -webkit-box-sizing: border-box;
  appearance: button;
  background: none;
  border: none;
  border-radius: 0;
  box-sizing: border-box;
}

input[type="submit"]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration {
  display: none;
}

input[type="submit"]::focus,
input[type="button"]::focus {
  outline-offset: -2px;
}

select {
  background: transparent;
  border: none;
  outline: none;
}

input:focus,
button:focus,
select:focus,
textarea:focus {
  outline: 0;
}

/* Make webkit render the search input like a normal text field */
input[type=search] {
  -webkit-appearance: textfield;
}

/* Turn off the recent search for webkit. It adds about 15px padding on the left */
::-webkit-search-decoration {
  display: none;
}

/* Turn off scroll bars in IE unless needed */
textarea {
  overflow: auto;
}

@font-face {
  font-family: 'DINPro Medium';
  font-style: normal;
  font-weight: normal;
  src: local("DINPro Medium"), url("../fonts/DINPro-Medium tr.woff") format("woff");
}

/*クリアフィックス*/
.cf::after {
  clear: both;
  content: "";
  display: block;
  height: 0;
  visibility: hidden;
}

html {
  font-size: 120%;
}

body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
  line-height: 1.5;
}

.wrapper {
  position: relative;
  width: 100%;
}

section {
  width: 100%;
}

/*
インナー領域
--------------------------*/
.section__inner, .content, .header__inner {
  margin: auto;
  width: 1150px;
}

.sp {
  display: none;
}

.sp-display {
  display: none !important;
}

body.page .section__inner {
  padding: 2.5rem 0;
}

/*
SPボックススタイル
--------------------------*/
@media only screen and (max-width: 768px) {
  .wrapper {
    position: relative;
    width: 100%;
  }
  html {
    font-size: 4.33333vw;
  }
  .section__inner, .content, .header__inner {
    width: 90%;
  }
  .pc {
    display: none;
  }
  .pc-display {
    display: none !important;
  }
  .sp {
    display: block;
  }
  .sp-display {
    display: block !important;
  }
  section {
    margin-bottom: 30px;
  }
}

/*
見出しスタイル
------------------------------*/
/*水色背景の見出し*/
.band {
  background-color: #67b2ec;
  color: #fff;
  font-size: 1.27rem;
  font-weight: 500;
  letter-spacing: .14em;
  padding: 10px 0;
  text-align: center;
}

h2, h3, h4 {
  font-weight: 300;
}

h2 {
  font-size: 2.4rem;
  letter-spacing: 3px;
}

h3 {
  font-size: 1.8rem;
  letter-spacing: 2px;
}

.num__wrap {
  margin-bottom: 1.94rem;
}

.num__wrap .num__tit {
  color: #7a959f;
  font-family: 'DINPro Medium';
  font-size: 3.98rem;
  line-height: 1.0;
  margin-bottom: 10px;
  padding-bottom: 5px;
  position: relative;
  text-align: center;
}

.num__wrap .num__tit::after {
  -webkit-transform: translateX(-50%);
  background-color: #454545;
  bottom: 0;
  content: "";
  height: 1px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 148px;
}

.num__wrap span {
  color: #454545;
  display: block;
  font-size: 1.15rem;
  font-weight: 600;
  text-align: center;
}

@media (max-width: 767px) {
  h2 {
    font-size: 2.0rem;
  }
  h3 {
    font-size: 1.4rem;
  }
}

/*矢印　くの字*/
.arrow::after {
  -webkit-transform: rotate(45deg) translateX(-50%);
  border-bottom: 1px solid #6594ac;
  border-top: 1px solid #6594ac;
  bottom: 15px;
  content: "";
  height: 15px;
  position: absolute;
  right: 50%;
  transform: rotate(45deg) translateX(-50%);
  width: 15px;
}

.btn {
  background-color: #bed6e4;
  border-radius: 6px;
  color: #000;
  display: inline-block;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
  font-size: 14px;
  height: 53px;
  letter-spacing: 1px;
  line-height: 53px;
  position: relative;
  text-align: center;
  width: 170px;
}

.btn:hover {
  opacity: .8;
}

.sm {
  display: block;
  font-size: .6rem;
  letter-spacing: 1px;
  opacity: .8;
}

.in-view {
  -webkit-transition: ease 1.5s .3s;
  opacity: 0;
  transition: ease 1.5s .3s;
}

.fade-in {
  opacity: 1.0;
}

/*下層ページ基本カラー*/
/*パンくずリスト*/
.path {
  margin-bottom: 90px;
  text-align: center;
}

.path li {
  display: inline-block;
  margin: 0 0.5%;
}

.path li a {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
  font-size: .78rem;
}

.path li:nth-of-type(1) a {
  color: #686868;
}

/*三角形*/
.triangle {
  border-color: transparent transparent rgba(0, 0, 0, 0.7) transparent;
  border-style: solid;
  border-width: 0 15px 23px 15px;
  height: 0;
  left: 30px;
  position: absolute;
  top: 1px;
  width: 0;
}

.tl {
  text-align: left !important;
}

.tr {
  text-align: right;
}

.tc {
  text-align: center;
}

.trx {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.try {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.ls1 {
  letter-spacing: 1px;
}

.ls2 {
  letter-spacing: 2px;
}

.fw600 {
  font-weight: 600;
}

@media (min-width: 768px) {
  .rl {
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
  }
}

.f-ryu {
  font-family: a-otf-ryumin-pr6n, serif;
  font-size: 2.1rem;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 2px;
}

.cw {
  color: #fff;
}

.gosic {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
}

.jc-cent {
  -ms-flex-pack: center !important;
  -webkit-box-pack: center !important;
  justify-content: center !important;
}

.flex {
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
}

.fw {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.ff-row-reverse {
  -ms-flex-flow: row-reverse;
  -webkit-box-direction: reverse;
  -webkit-box-orient: horizontal;
  flex-flow: row-reverse;
}

.box-size {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.vt {
  vertical-align: top !important;
}

.al-cent {
  -ms-flex-align: center !important;
  -webkit-box-align: center !important;
  align-items: center !important;
}

.al-top {
  -ms-flex-align: start !important;
  -webkit-box-align: start !important;
  align-items: flex-start !important;
}

.al-bottom {
  -ms-flex-align: end !important;
  -webkit-box-align: end !important;
  align-items: flex-end !important;
}

.ju-st {
  -ms-flex-pack: start !important;
  -webkit-box-pack: start !important;
  justify-content: flex-start !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

/*swiper*/
@media (max-width: 767px) {
  .swiper-wrapper.sp-bnr {
    height: 100%;
  }
}

.swiper-wrapper {
  height: auto;
}

.swiper-button-prev {
  background: url("../img/common/arrow_02.svg") no-repeat 50% 50%/20px;
}

.swiper-button-next {
  background: url("../img/common/arrow_01.svg") no-repeat 50% 50%/20px;
}

.area-bgs {
  background: no-repeat 50% 50%/cover;
}

/*qa 症例*/
.slide-p2 {
  position: static;
}

.slide-p2 .swiper-slide {
  height: 390px;
}

.prev2, .next2 {
  top: 58%;
}

.prev2 {
  left: 0px;
}

.next2 {
  right: 0px;
}

.swiper-container-horizontal .swiper-pagination {
  bottom: -40px;
}

.swiper-pagination-bullet {
  border-radius: 0;
}

@media (max-width: 767px) {
  .swiper-button-prev, .swiper-button-next {
    background-size: 16px;
  }
  .slide-p2 .swiper-slide {
    height: 63vw;
  }
  .swiper3 .swiper-slide {
    height: auto;
  }
  .prev2, .next2 {
    top: 58%;
  }
  .prev2 {
    left: -35px;
  }
  .next2 {
    right: -35px;
  }
  .swiper3 .prev2, .swiper3 .next2 {
    top: 63%;
  }
  .swiper3 .prev2 {
    left: -20px;
  }
  .swiper3 .next2 {
    right: -20px;
  }
  .swiper-container-horizontal .swiper-pagination {
    bottom: -30px;
  }
  .swiper3.swiper-container-horizontal .swiper-pagination {
    bottom: -20px;
  }
  .swiper-pagination-bullet {
    border-radius: 0;
  }
}

/*施術の感想スライド設定*/
.kuchikomi-slide {
  position: relative;
}

.slide-p2.swiper4 .swiper-slide {
  height: 388px;
}

.swiper4 .prev2, .swiper4 .next2 {
  top: 50%;
}

.swiper4 .prev2 {
  left: -65px;
}

.swiper4 .next2 {
  right: -65px;
}

@media (min-width: 768px) {
  .swiper4 .swiper-pagination {
    display: none;
  }
}

@media (max-width: 767px) {
  .swiper4 .prev2, .swiper4 .next2 {
    display: none !important;
  }
}

.bounce {
  -webkit-animation: bounce linear 1.6s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  animation: bounce linear 1.6s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  15% {
    -webkit-transform: translate(0px, -25px);
    transform: translate(0px, -25px);
  }
  30% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  45% {
    -webkit-transform: translate(0px, -15px);
    transform: translate(0px, -15px);
  }
  60% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  75% {
    -webkit-transform: translate(0px, -5px);
    transform: translate(0px, -5px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  15% {
    -webkit-transform: translate(0px, -25px);
    transform: translate(0px, -25px);
  }
  30% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  45% {
    -webkit-transform: translate(0px, -15px);
    transform: translate(0px, -15px);
  }
  60% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  75% {
    -webkit-transform: translate(0px, -5px);
    transform: translate(0px, -5px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
}

#site__footer {
  background-color: #454545;
  padding: .8rem 0;
}

#site__footer .footer__nav {
  text-align: center;
}

#site__footer .footer__nav li {
  display: inline-block;
  font-size: .6rem;
  margin: 0 .4rem;
}

#site__footer .footer__nav li a {
  color: #fff;
}

#site__header {
  background-color: #454545;
  padding: 20px 0;
}

#site__header img {
  vertical-align: middle;
}

#site__header .header__inner .header__logo {
  width: 140px;
}

#site__header .header__nav ul li {
  margin: 0 .6rem;
}

#site__header .header__nav ul li a {
  color: #fff;
  font-size: .58rem;
}

#site__header .header__nav ul li:last-child {
  margin-right: 0;
}

@media (max-width: 767px) {
  #site__header {
    height: 54px;
    padding: 15px 0;
  }
  #site__header img {
    vertical-align: top;
  }
  #site__header .header__inner .header__logo {
    width: 110px;
  }
  #site__header .menu-trigger,
  #site__header .menu-trigger span {
    -webkit-transition: all .4s;
    display: inline-block;
    transition: all .4s;
  }
  #site__header .menu-trigger {
    height: 23px;
    margin-top: -12px;
    position: relative;
    width: 35px;
  }
  #site__header .menu-trigger span {
    background-color: #fff;
    height: 3px;
    left: 0;
    position: absolute;
    width: 100%;
  }
  #site__header .menu-trigger span:nth-of-type(1) {
    top: 0;
  }
  #site__header .menu-trigger span:nth-of-type(2) {
    top: 10px;
  }
  #site__header .menu-trigger span:nth-of-type(3) {
    bottom: 0;
  }
  #site__header .menu-trigger::after {
    -webkit-transform: translateX(-50%);
    -webkit-transition: all .4s;
    bottom: -15px;
    color: #fff;
    content: 'menu';
    display: block;
    font-size: 10px;
    left: 50%;
    position: absolute;
    text-align: center;
    text-decoration: none;
    transform: translateX(-50%);
    transition: all .4s;
    white-space: nowrap;
    width: 100%;
  }
  #site__header .menu-trigger.active::after {
    content: 'close';
  }
  #site__header .menu-trigger.active span:nth-of-type(1) {
    -webkit-transform: translateY(10px) rotate(-45deg);
    transform: translateY(10px) rotate(-45deg);
  }
  #site__header .menu-trigger.active span:nth-of-type(2) {
    opacity: 0;
  }
  #site__header .menu-trigger.active span:nth-of-type(3) {
    -webkit-transform: translateY(-10px) rotate(45deg);
    transform: translateY(-10px) rotate(45deg);
  }
  #site__header .header__nav {
    -webkit-transition: all .4s;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 54px;
    transition: all .4s;
    visibility: hidden;
    width: 100%;
    z-index: 5000;
  }
  #site__header .header__nav ul {
    background-color: rgba(0, 0, 0, 0.68);
    display: block;
  }
  #site__header .header__nav ul li {
    border-bottom: 1px solid #fff;
    display: block;
    margin: 0;
    padding: .8rem 0;
  }
  #site__header .header__nav ul li a {
    display: block;
    font-size: .75rem;
    padding: 0 .6rem;
  }
  #site__header .header__nav ul li:last-child {
    border-bottom: none;
    margin-right: 0;
  }
  #site__header .header__nav.active {
    opacity: 1;
    visibility: visible;
  }
}

/*

　基本


*/
.infinite__banner__area {
  margin: 2.2rem 0 3.8rem;
}

.infinite__banner__area .section__inner h2 {
  color: #ffa200;
  font-size: 1.4rem;
  margin-bottom: 2.2rem;
  text-align: center;
}

.infinite__banner__area .section__inner .banners {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}

.infinite__banner__area .section__inner .banners li {
  margin-bottom: 2.4rem;
  width: 300px;
}

.infinite__banner__area .section__inner .banners li .bnr__img {
  margin-bottom: .9rem;
}

.infinite__banner__area .section__inner .banners li button {
  background-color: #ffa200;
  border-radius: 6px;
  color: #fff;
  display: block;
  margin: 0 auto 1.2rem;
  padding: .75rem 0;
  width: 58%;
}

@media (max-width: 767px) {
  .infinite__banner__area {
    margin: 2.2rem 0 3.8rem;
  }
  .infinite__banner__area .section__inner h2 {
    font-size: 1.4rem;
    margin-bottom: 2.2rem;
    text-align: center;
  }
  .infinite__banner__area .section__inner .banners {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
  }
  .infinite__banner__area .section__inner .banners li {
    margin-bottom: .8rem;
    width: 48%;
  }
  .infinite__banner__area .section__inner .banners li button {
    width: 100%;
  }
}

/*-
モーダル
-----------------------------------*/
.modal {
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9000;
}

.modal .modal__inner {
  -webkit-transform: translate(-50%, -50%);
  background-color: #fff;
  height: 540px;
  left: 50%;
  padding: 45px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 540px;
  z-index: 9999;
}

.modal .modal__inner h3 {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 2.5rem;
  text-align: center;
}

.modal .modal__bg {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 9300;
}

@media (max-width: 767px) {
  .modal .modal__inner {
    height: 65%;
    padding: 1.5rem;
    width: 90%;
  }
  .modal .modal__inner h3 {
    font-size: 1.2rem;
    margin-bottom: 2.5rem;
  }
}

/*
基本
-----------------*/
input {
  background-color: #f8f8f8;
  font-size: .88rem;
  padding: 8px;
}

select {
  background-color: #f8f8f8;
  font-size: .58rem;
  height: 53px;
  padding: 8px;
}

span.wpcf7-list-item {
  margin-bottom: 35px !important;
}

input[type="submit"] {
  background-color: #ff9023;
  color: #fff;
  padding: 1.2em;
}

input[type="text"] {
  border-radius: 3px;
  padding: .6rem;
}

textarea {
  background-color: #fff;
  border: 1px solid #67b2ec;
  border-radius: 11px;
  height: 221px;
  margin-bottom: 1.2rem;
  padding: 1.2em;
  width: 100%;
}

.note {
  color: #ff0005;
  line-height: 1.85;
  text-align: center;
}

/*ラベル名が自動的に出力されるのを非表示*/
.iopt_label {
  display: none !important;
}

::-webkit-input-placeholder {
  color: #ccc;
}

::-moz-placeholder {
  color: #ccc;
}

:-ms-input-placeholder {
  color: #ccc;
}

::-ms-input-placeholder {
  color: #ccc;
}

::placeholder {
  color: #ccc;
}

#instruction textarea {
  position: relative;
}

#instruction textarea::-webkit-input-placeholder {
  text-align: center;
}

#instruction textarea::-moz-placeholder {
  text-align: center;
}

#instruction textarea:-ms-input-placeholder {
  text-align: center;
}

#instruction textarea::-ms-input-placeholder {
  text-align: center;
}

#instruction textarea::placeholder {
  text-align: center;
}

.error_message {
  color: red;
}

/*初めは非表示*/
.hidden {
  background-color: #fff !important;
  border-color: #6594ac !important;
  display: none;
  margin: auto;
  padding: 2.5rem 3.6rem;
  width: 87.5%;
}

@media (max-width: 767px) {
  .hidden {
    padding: 2.0rem .5rem;
    width: 100%;
  }
}

/*フォームエリア記載
-------------------------*/
.purchase__form {
  background-color: #f0faff;
  background-image: -webkit-repeating-linear-gradient(top, transparent 17px, rgba(178, 178, 178, 0.07) 18px, rgba(178, 178, 178, 0.07) 18px, transparent 19px, transparent 35px, rgba(178, 178, 178, 0.07) 36px, rgba(178, 178, 178, 0.07) 36px, transparent 37px, transparent 53px, rgba(178, 178, 178, 0.07) 54px, rgba(178, 178, 178, 0.07) 54px, transparent 55px, transparent 71px, rgba(178, 178, 178, 0.07) 72px, rgba(178, 178, 178, 0.07) 72px, transparent 73px, transparent 89px, rgba(178, 178, 178, 0.07) 90px, rgba(178, 178, 178, 0.07) 90px), -webkit-repeating-linear-gradient(left, transparent 17px, rgba(178, 178, 178, 0.07) 18px, rgba(178, 178, 178, 0.07) 18px, transparent 19px, transparent 35px, rgba(178, 178, 178, 0.07) 36px, rgba(178, 178, 178, 0.07) 36px, transparent 37px, transparent 53px, rgba(178, 178, 178, 0.07) 54px, rgba(178, 178, 178, 0.07) 54px, transparent 55px, transparent 71px, rgba(178, 178, 178, 0.07) 72px, rgba(178, 178, 178, 0.07) 72px, transparent 73px, transparent 89px, rgba(178, 178, 178, 0.07) 90px, rgba(178, 178, 178, 0.07) 90px);
  background-image: repeating-linear-gradient(to bottom, transparent 17px, rgba(178, 178, 178, 0.07) 18px, rgba(178, 178, 178, 0.07) 18px, transparent 19px, transparent 35px, rgba(178, 178, 178, 0.07) 36px, rgba(178, 178, 178, 0.07) 36px, transparent 37px, transparent 53px, rgba(178, 178, 178, 0.07) 54px, rgba(178, 178, 178, 0.07) 54px, transparent 55px, transparent 71px, rgba(178, 178, 178, 0.07) 72px, rgba(178, 178, 178, 0.07) 72px, transparent 73px, transparent 89px, rgba(178, 178, 178, 0.07) 90px, rgba(178, 178, 178, 0.07) 90px), repeating-linear-gradient(to right, transparent 17px, rgba(178, 178, 178, 0.07) 18px, rgba(178, 178, 178, 0.07) 18px, transparent 19px, transparent 35px, rgba(178, 178, 178, 0.07) 36px, rgba(178, 178, 178, 0.07) 36px, transparent 37px, transparent 53px, rgba(178, 178, 178, 0.07) 54px, rgba(178, 178, 178, 0.07) 54px, transparent 55px, transparent 71px, rgba(178, 178, 178, 0.07) 72px, rgba(178, 178, 178, 0.07) 72px, transparent 73px, transparent 89px, rgba(178, 178, 178, 0.07) 90px, rgba(178, 178, 178, 0.07) 90px);
}

.purchase__form .form__inner {
  /* ボタンタイプスタイル記述(黄色いボタン) */
}

.purchase__form .form__inner dl {
  background-color: #e3f7ff;
  padding: 2.5rem 3.6rem;
  /*サイズ用途選択スタイル記述(四角ボタン)*/
}

.purchase__form .form__inner dl dt {
  margin-bottom: 25px;
}

.purchase__form .form__inner dl:nth-of-type(even) {
  background-color: #fff;
  border: none;
}

.purchase__form .form__inner dl dd {
  position: relative;
}

.purchase__form .form__inner dl label {
  font-size: .88rem;
  /*各バナーの補足文の設定*/
}

.purchase__form .form__inner dl label .sub__text {
  -webkit-transform: translateX(-50%);
  bottom: 10px;
  color: #454545;
  display: inline-block;
  font-size: .72rem;
  font-weight: 100;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  white-space: nowrap;
}

.purchase__form .form__inner dl .select__zone {
  text-align: center;
  /*クリックしたときのスタイル*/
}

.purchase__form .form__inner dl .select__zone input[type="radio"] {
  opacity: 0;
  position: absolute;
}

.purchase__form .form__inner dl .select__zone label {
  background-color: #fff;
  border: 1px solid #6594ac;
  color: #6594ac;
  display: inline-block;
  font-size: .88rem;
  font-weight: 600;
  margin: 0 .8rem 1.6rem;
  padding: 35px 10px 54px 163px;
  position: relative;
  text-align: left;
  width: 42%;
  /*サムネイル画像振り分け*/
}

.purchase__form .form__inner dl .select__zone label::after, .purchase__form .form__inner dl .select__zone label::before {
  -webkit-transform: translateY(-50%);
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.purchase__form .form__inner dl .select__zone label::after {
  background-color: #fff;
  border: 1px #6594ac solid;
  border-radius: 3px;
  height: 21px;
  left: 22px;
  width: 21px;
}

.purchase__form .form__inner dl .select__zone label::before {
  -webkit-transform: translateY(-50%) rotate(-52deg);
  border-bottom: 3px solid rgba(0, 0, 0, 0.07);
  border-left: 3px solid rgba(0, 0, 0, 0.07);
  height: 7px;
  left: 25px;
  transform: translateY(-50%) rotate(-52deg);
  width: 14px;
  z-index: 1000;
}

.purchase__form .form__inner dl .select__zone label:nth-of-type(1), .purchase__form .form__inner dl .select__zone label:nth-of-type(2), .purchase__form .form__inner dl .select__zone label:nth-of-type(3), .purchase__form .form__inner dl .select__zone label:nth-of-type(4), .purchase__form .form__inner dl .select__zone label:nth-of-type(5), .purchase__form .form__inner dl .select__zone label:nth-of-type(6) {
  background: #fff no-repeat 19% 36% / 20% auto;
}

.purchase__form .form__inner dl .select__zone label:nth-of-type(1) {
  background-image: url(../img/icons/radio_icon01.jpg);
}

.purchase__form .form__inner dl .select__zone label:nth-of-type(2) {
  background-image: url(../img/icons/radio_icon02.jpg);
}

.purchase__form .form__inner dl .select__zone label:nth-of-type(3) {
  background-image: url(../img/icons/radio_icon03.png);
}

.purchase__form .form__inner dl .select__zone label:nth-of-type(4) {
  background-image: url(../img/icons/radio_icon04.jpg);
}

.purchase__form .form__inner dl .select__zone label:nth-of-type(5) {
  background-image: url(../img/icons/radio_icon05.jpg);
}

.purchase__form .form__inner dl .select__zone label:nth-of-type(6) {
  background-image: url(../img/icons/radio_icon06.jpg);
}

.purchase__form .form__inner dl .select__zone input[type="radio"]:checked + label {
  border: none;
  outline: 4px solid #ffa200;
  outline-offset: -2px;
}

.purchase__form .form__inner dl .select__zone input[type="radio"]:checked + label::before {
  border-color: #ffa200;
}

.purchase__form .form__inner dl .select__zone label.checked {
  border: none;
  outline: 4px solid #ffa200;
  outline-offset: -2px;
}

.purchase__form .form__inner dl .select__zone label.checked::before {
  border-color: #ffa200;
}

.purchase__form .form__inner .size__select.select__zone label {
  /*サムネイル画像振り分け*/
}

.purchase__form .form__inner .size__select.select__zone label:nth-of-type(1) {
  background-image: url(../img/icons/s_icon.png);
}

.purchase__form .form__inner .size__select.select__zone label:nth-of-type(2) {
  background-image: url(../img/icons/m_icon.png);
}

.purchase__form .form__inner .size__select.select__zone label:nth-of-type(3) {
  background-image: url(../img/icons/l_icon.png);
}

.purchase__form .form__inner input[type="radio"] {
  position: absolute;
  visibility: hidden;
}

.purchase__form .form__inner .select__btns .select__btn__zone {
  -ms-flex-pack: distribute;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  width: 80%;
}

.purchase__form .form__inner .select__btns .select__btn__zone label {
  border-radius: 37px;
  color: #fff;
  height: 78px;
  line-height: 78px;
  margin: 0 .5rem 1.8rem;
  padding: 0 30px 0 112px;
  position: relative;
  width: 30%;
  /*サムネイル画像振り分け*/
}

.purchase__form .form__inner .select__btns .select__btn__zone label::after, .purchase__form .form__inner .select__btns .select__btn__zone label::before {
  -webkit-transform: translateY(-50%);
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.purchase__form .form__inner .select__btns .select__btn__zone label::after {
  background-color: #fff;
  border: 2px #f8f8f8 solid;
  border-radius: 3px;
  height: 21px;
  left: 34px;
  width: 21px;
}

.purchase__form .form__inner .select__btns .select__btn__zone label::before {
  -webkit-transform: translateY(-50%) rotate(-52deg);
  border-bottom: 3px solid rgba(0, 0, 0, 0.07);
  border-left: 3px solid rgba(0, 0, 0, 0.07);
  height: 6px;
  left: 39px;
  transform: translateY(-50%) rotate(-52deg);
  width: 13px;
  z-index: 1000;
}

.purchase__form .form__inner .select__btns .select__btn__zone label:nth-of-type(1), .purchase__form .form__inner .select__btns .select__btn__zone label:nth-of-type(2), .purchase__form .form__inner .select__btns .select__btn__zone label:nth-of-type(3), .purchase__form .form__inner .select__btns .select__btn__zone label:nth-of-type(4), .purchase__form .form__inner .select__btns .select__btn__zone label:nth-of-type(5), .purchase__form .form__inner .select__btns .select__btn__zone label:nth-of-type(6) {
  background: #454545 no-repeat 34% 50% / 22px auto;
}

.purchase__form .form__inner .select__btns .select__btn__zone label:nth-of-type(1) {
  background-image: url(../img/icons/option_icon01.png);
}

.purchase__form .form__inner .select__btns .select__btn__zone label:nth-of-type(2) {
  background-image: url(../img/icons/option_icon02.png);
}

.purchase__form .form__inner .select__btns .select__btn__zone label:nth-of-type(3) {
  background-image: url(../img/icons/option_icon03.png);
}

.purchase__form .form__inner .select__btns .select__btn__zone label:nth-of-type(4) {
  background-image: url(../img/icons/option_icon01.png);
}

.purchase__form .form__inner .select__btns .select__btn__zone label:nth-of-type(5) {
  background-image: url(../img/icons/option_icon02.png);
}

.purchase__form .form__inner .select__btns .select__btn__zone label:nth-of-type(6) {
  background-image: url(../img/icons/option_icon03.png);
}

.purchase__form .form__inner .select__btns .select__btn__zone label .sub__text {
  bottom: -24px;
  color: #fff;
}

.purchase__form .form__inner .select__btns .select__btn__zone input[type="radio"]:checked + label {
  background-color: #ffa200;
}

.purchase__form .form__inner .select__btns .select__btn__zone input[type="radio"]:checked + label::before {
  border-color: red;
}

.purchase__form .form__inner .select__btns .select__btn__zone input[type="radio"]:checked + label::after {
  border-color: #ffa200;
}

.purchase__form .form__inner .select__btns .select__btn__zone label.checked {
  background-color: #ffa200;
}

.purchase__form .form__inner .select__btns .select__btn__zone label.checked::before {
  border-color: red;
}

.purchase__form .form__inner .select__btns .select__btn__zone label.checked::after {
  border-color: #ffa200;
}

.purchase__form .form__inner .select__btns .select__btn__zone.limit {
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.purchase__form .form__inner .select__btns .select__btn__zone.limit label:nth-of-type(1) {
  background-image: url(../img/icons/option_icon01.png);
}

.purchase__form .form__inner .select__btns .select__btn__zone.limit label:nth-of-type(2) {
  background-image: url(../img/icons/option_icon01.png);
}

.purchase__form .form__inner .select__btns .select__btn__zone.limit label:nth-of-type(3) {
  background-image: url(../img/icons/option_icon01.png);
}

.purchase__form .form__inner .select__btns .select__btn__zone.select__data {
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.purchase__form .form__inner .select__btns .select__btn__zone.select__data label {
  font-size: .78rem;
  height: 74px;
  line-height: 74px;
  margin: 0  .98rem 1.8rem;
  padding: 0 30px 0 86px;
  width: 41.5%;
}

.purchase__form .form__inner .select__btns .select__btn__zone.select__data label:nth-of-type(1), .purchase__form .form__inner .select__btns .select__btn__zone.select__data label:nth-of-type(2), .purchase__form .form__inner .select__btns .select__btn__zone.select__data label:nth-of-type(3), .purchase__form .form__inner .select__btns .select__btn__zone.select__data label:nth-of-type(4), .purchase__form .form__inner .select__btns .select__btn__zone.select__data label:nth-of-type(5), .purchase__form .form__inner .select__btns .select__btn__zone.select__data label:nth-of-type(6) {
  background-image: none;
}

.purchase__form .form__inner .select__btns .select__btn__zone.public__btn label {
  font-size: 1.1rem;
  height: 74px;
  line-height: 74px;
  padding: 0 30px 0 86px;
  width: 31%;
}

.purchase__form .form__inner .select__btns .select__btn__zone.public__btn label:nth-of-type(1), .purchase__form .form__inner .select__btns .select__btn__zone.public__btn label:nth-of-type(2), .purchase__form .form__inner .select__btns .select__btn__zone.public__btn label:nth-of-type(3), .purchase__form .form__inner .select__btns .select__btn__zone.public__btn label:nth-of-type(4), .purchase__form .form__inner .select__btns .select__btn__zone.public__btn label:nth-of-type(5), .purchase__form .form__inner .select__btns .select__btn__zone.public__btn label:nth-of-type(6) {
  background-image: none;
}

.purchase__form .form__inner .hidden p {
  margin-bottom: 1.7rem;
}

.purchase__form .form__inner .hidden input, .purchase__form .form__inner .hidden select {
  width: 100%;
}

.purchase__form .form__inner .special__size dt {
  text-align: center;
}

.purchase__form .form__inner .special__size dd .special__size-box {
  margin-bottom: 1.75rem;
}

.purchase__form .form__inner .special__size dd .special__size-box p {
  margin-bottom: .8rem;
}

.purchase__form .form__inner .special__size dd .special__size-box select {
  font-size: 1.0rem;
  width: 100%;
}

.purchase__form .form__inner .info__customer {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: auto;
  width: 76%;
}

.purchase__form .form__inner .info__customer .text__area {
  margin: 0 .3rem 1.7rem;
  width: 48%;
}

.purchase__form .form__inner .info__customer .text__area span {
  display: block;
  margin-bottom: .4rem;
}

.purchase__form .form__inner .info__customer .text__area input {
  background-color: #fff;
  width: 100%;
}

.purchase__form .form__inner .info__customer .text__area:last-child {
  margin-right: 51%;
}

.term h3 {
  text-align: center;
}

.term .term__text__box {
  font-size: .74rem;
}

.term .term__text__box span {
  margin-right: 1.0rem;
}

.term .term__text__box dl {
  background: none;
  margin-bottom: 2.5rem;
  padding: 0;
}

.term .term__text__box ul {
  margin-bottom: 2.5rem;
}

.term .term__text__box ul li {
  margin-bottom: .9rem;
}

@media (max-width: 767px) {
  .purchase__form .form__inner dl {
    padding: 2.0rem .5rem;
    /*サイズ選択*/
  }
  .purchase__form .form__inner dl dt {
    margin-bottom: 25px;
  }
  .purchase__form .form__inner dl label {
    font-size: .88rem;
  }
  .purchase__form .form__inner dl .select__zone {
    text-align: center;
    width: 100%;
  }
  .purchase__form .form__inner dl .select__zone label {
    font-size: .9rem;
    margin: 0 auto 1.2rem;
    padding-left: 9.4rem;
    width: 100%;
  }
  .purchase__form .form__inner dl .select__zone label::after {
    background-color: #fff;
    border: 1px #6594ac solid;
    border-radius: 3px;
    height: 21px;
    left: 22px;
    width: 21px;
  }
  .purchase__form .form__inner dl .select__zone label::before {
    -webkit-transform: translateY(-50%) rotate(-52deg);
    height: 7px;
    left: 25px;
    transform: translateY(-50%) rotate(-52deg);
    width: 14px;
  }
  .purchase__form .form__inner dl .select__zone label:nth-of-type(1), .purchase__form .form__inner dl .select__zone label:nth-of-type(2), .purchase__form .form__inner dl .select__zone label:nth-of-type(3), .purchase__form .form__inner dl .select__zone label:nth-of-type(4), .purchase__form .form__inner dl .select__zone label:nth-of-type(5), .purchase__form .form__inner dl .select__zone label:nth-of-type(6) {
    background-position: 24% 38%;
    background-size: 4.5rem;
  }
  .purchase__form .form__inner .select__btns .select__btn__zone {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
  }
  .purchase__form .form__inner .select__btns .select__btn__zone label {
    height: 68px;
    line-height: 68px;
    margin: 0 0 1.2rem;
    padding: 0;
    padding-left: 4.8rem;
    width: 49%;
  }
  .purchase__form .form__inner .select__btns .select__btn__zone label::after {
    height: 21px;
    left: 14px;
    width: 21px;
  }
  .purchase__form .form__inner .select__btns .select__btn__zone label::before {
    height: 6px;
    left: 20px;
    width: 13px;
  }
  .purchase__form .form__inner .select__btns .select__btn__zone label:nth-of-type(1), .purchase__form .form__inner .select__btns .select__btn__zone label:nth-of-type(2), .purchase__form .form__inner .select__btns .select__btn__zone label:nth-of-type(3), .purchase__form .form__inner .select__btns .select__btn__zone label:nth-of-type(4), .purchase__form .form__inner .select__btns .select__btn__zone label:nth-of-type(5), .purchase__form .form__inner .select__btns .select__btn__zone label:nth-of-type(6) {
    background-position: 35% 50%;
    background-size: 1.35rem;
  }
  .purchase__form .form__inner .select__btns .select__btn__zone label .sub__text {
    bottom: -22px;
    font-size: .67rem;
  }
  .purchase__form .form__inner .select__btns .select__btn__zone.public__btn {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
  .purchase__form .form__inner .select__btns .select__btn__zone.public__btn label {
    padding: 0;
    padding-left: 3.4rem;
    width: 48%;
  }
  .purchase__form .form__inner .select__btns .select__btn__zone.limit {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .purchase__form .form__inner .select__btns .select__btn__zone.limit label {
    background-position: 26% 50%;
    background-size: 1.12rem;
    margin: 0 0 .8rem;
    padding-left: 5.0rem;
    width: 66%;
  }
  .purchase__form .form__inner .select__btns .select__btn__zone.select__data {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
  }
  .purchase__form .form__inner .select__btns .select__btn__zone.select__data label {
    font-size: .78rem;
    margin: 0  .98rem 1.8rem;
    padding: 0 30px 0 70px;
    width: 90%;
  }
  .purchase__form .form__inner .select__btns .select__btn__zone.select__data label:nth-of-type(1), .purchase__form .form__inner .select__btns .select__btn__zone.select__data label:nth-of-type(2), .purchase__form .form__inner .select__btns .select__btn__zone.select__data label:nth-of-type(3), .purchase__form .form__inner .select__btns .select__btn__zone.select__data label:nth-of-type(4), .purchase__form .form__inner .select__btns .select__btn__zone.select__data label:nth-of-type(5), .purchase__form .form__inner .select__btns .select__btn__zone.select__data label:nth-of-type(6) {
    background-image: none;
  }
  .purchase__form .form__inner .control__num input {
    width: 100%;
  }
  .purchase__form .form__inner .special__size dt {
    text-align: center;
  }
  .purchase__form .form__inner .special__size dd .special__size-box {
    margin-bottom: 1.75rem;
  }
  .purchase__form .form__inner .special__size dd .special__size-box p {
    margin-bottom: 25px;
  }
  .purchase__form .form__inner .info__customer {
    width: 80%;
  }
  .purchase__form .form__inner .info__customer .text__area {
    margin: 0 .3rem 1.7rem;
    width: 100%;
  }
  .purchase__form .form__inner .info__customer .text__area:last-child {
    margin: 0;
  }
}

/**
テーブルスタイル
-------------------------------**/
.output__table {
  border-collapse: collapse;
  margin-bottom: 3.5rem;
  width: 100%;
}

.output__table tr th, .output__table tr td {
  padding: .9rem 0;
  text-align: center;
  vertical-align: middle;
  width: 20%;
}

.output__table tr th.last {
  border-right: none;
}

.output__table thead {
  background-color: #949494;
}

.output__table thead tr th {
  border-right: 1px solid #fff;
  color: #fff;
}

.output__table thead tr th.last {
  background-color: #5b738e;
}

.output__table tbody {
  background-color: #FFF;
}

.output__table tbody tr td {
  border-right: 1px solid #fff;
}

@media (max-width: 767px) {
  .output__table {
    margin-bottom: 3.5rem;
    overflow: hidden;
  }
  .output__table tr {
    display: block;
  }
  .output__table tr th, .output__table tr td {
    display: block;
    font-size: .7rem;
    height: 3.7rem;
    padding: 1.4rem 0 0.7rem !important;
    width: auto;
  }
  .output__table thead {
    float: left;
    width: auto;
    width: 40%;
  }
  .output__table thead tr th {
    border: none;
    border-bottom: 1px solid #fff;
  }
  .output__table tbody {
    float: left;
    width: 60%;
  }
  .output__table tbody tr {
    width: 100%;
  }
  .output__table tbody tr td {
    border: none;
    border-bottom: 1px solid #fff;
    width: 100%;
  }
}

/*カートへ入れるボタン*/
.cart__in {
  margin: 0 auto 3.5rem;
  width: 422px;
}

.cart__in .cart__btn__cont {
  display: inline-block;
  position: relative;
}

.cart__in .cart__btn__cont input {
  background-color: #2b9dd7;
  border-radius: 12px;
  display: block;
  font-size: 1.2rem;
  height: 88px;
  line-height: 88px;
  padding: 0;
  padding-left: 57px;
  width: 422px;
}

.cart__in .cart__btn__cont::after {
  -webkit-transform: translateY(-50%);
  background: url(../img/icons/cart_icon.png) no-repeat 20% 50%/34px 35px;
  content: "";
  height: 35px;
  left: 45px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 34px;
}

@media (max-width: 767px) {
  .cart__in {
    width: 310px;
  }
  .cart__in .cart__btn__cont {
    display: block;
    margin: auto;
  }
  .cart__in .cart__btn__cont input {
    border-radius: 12px;
    display: block;
    font-size: 1.08rem;
    height: 68px;
    line-height: 68px;
    padding-left: 2.2rem;
    width: 310px;
  }
  .cart__in .cart__btn__cont::after {
    background-position: 28% 50%;
    background-size: 1.3rem;
    height: 25px;
    left: 26px;
    width: 24px;
  }
}

/*利用規約*/
.term {
  background-color: #ededed;
  height: 320px;
  overflow-y: scroll;
  padding: 1.6rem;
  width: 100%;
}

.term h3 {
  color: #ffa200;
  font-size: 1.2rem;
  margin-bottom: .8rem;
}

.term h3 p {
  font-size: .8rem;
}

/*CF7フォームスタイル
----------------------------*/
.wpcf7 p {
  margin-bottom: 1.5rem;
}

.wpcf7 p.sub-tit {
  color: #6594ac;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: .1em;
  padding: 5px 35px;
}

.wpcf7 dl {
  margin-bottom: 2.5rem;
}

.wpcf7 dl dt {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1.9rem;
  padding: 12px 35px;
}

.wpcf7 dl dd {
  background: #fff;
  padding: 35px;
}

.wpcf7 dl dd.bnr__serect {
  background-color: #fff;
}

.wpcf7 dl dd.bnr__serect .radio-row {
  -ms-flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.wpcf7 dl dd.bnr__serect span.radio-col {
  display: block;
  width: 47%;
}

.wpcf7 dl dd.bnr__serect .thumb {
  margin-bottom: 35px;
  width: 100%;
}

.wpcf7 dl#f-size dt .modal__trigger-cont {
  width: 47%;
}

.wpcf7 dl#f-size dt .modal__trigger-cont .thumb {
  margin-bottom: 35px;
  width: 100%;
}

.wpcf7 dl#f-size dd {
  background: none;
  padding: 0;
}

.wpcf7 dl.sp__size {
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  background-color: #fff;
}

.wpcf7 dl.sp__size dt {
  font-size: 1.0rem;
}

/*
テーブルスタイル
----------------------------*/
.value__list {
  border-collapse: collapse;
  width: 100%;
}

.value__list th, .value__list td {
  border: #fff solid 1px;
  color: #000;
  padding: 15px 10px;
  text-align: center;
  vertical-align: middle;
}

.value__list thead {
  background-color: #fff8ee;
}

.value__list tbody {
  background-color: #bed6e4;
}

.value__list tbody tr td {
  font-size: 1.2rem;
}

/*
ボタンスタイル
----------------------------*/
.send__wrap {
  margin: 35px 0;
}

.send__wrap a {
  display: block;
  height: 53px;
  line-height: 53px;
  margin: auto;
  width: 240px;
}

.send__wrap #send-in {
  background-color: #ff9023;
  border: 1px solid #fff;
  color: #fff;
  display: block;
  margin: auto;
  width: 240px;
}

a.wpcf7-form-control {
  background-color: orangered;
  color: #fff;
  display: block;
  height: 53px;
  line-height: 53px;
  margin: 0 auto 15px;
  text-align: center;
  width: 240px;
}

#f-num {
  display: none;
}

/* #size__secrct02 {
    display: none;
} */
/* #total {
    position: fixed;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
    width: 340px;
    text-align: center;
    font-size: 3.6rem;
    color: red;
    letter-spacing: 2px;

    .checkbox-col label, .radio-col label, .cf7-calculated-name {
        font-size: 3.6rem;
    }
} */
/*
カートページスタイル
-------------------------------*/
.customer_form {
  width: 100%;
}

.cart__area input {
  padding: .32rem !important;
}

.cart__area table tr th, .cart__area table tr td {
  padding: .6rem;
}

.usccart_navi .ucart {
  margin: 0;
  padding: .6rem 0;
}

.usccart_navi .ucart li {
  font-size: .9rem;
}

.usccart_navi .ucart li.usccart_cart, .usccart_navi .ucart li.usccart_delivery, .usccart_navi .ucart li.usccart_customer {
  background: none;
  background-color: #ffa200;
}

.usccart_navi .ucart li.usccart_confirm {
  background: none;
  background-color: #ff5c5c;
}

#cart th, #cart td {
  border-bottom-width: 2px !important;
}

#cart .action {
  width: auto;
}

.send {
  /*戻る系のボタン色変更*/
}

.send input {
  color: #fff;
  padding: 1.2rem 1.1rem !important;
}

.send input.back_cart_button, .send input.back_to_delivery_button {
  background-color: #666 !important;
}

.continue_shopping_button {
  background-color: #666 !important;
}

@media (max-width: 767px) {
  .cart__area .section__inner {
    width: 96%;
  }
  .usccart_navi .ucart li {
    font-size: .7rem;
  }
  #customer-info .customer_form input {
    width: 100% !important;
  }
  #customer-info th, #customer-info td {
    padding: 12px 10px !important;
    text-align: center !important;
    vertical-align: middle !important;
  }
  #cart_table {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: .39rem;
  }
  #cart_table .item {
    width: 26% !important;
  }
  #cart_table tr th, #cart_table tr td {
    padding: 0;
    text-align: left !important;
    white-space: normal !important;
    width: 10% !important;
  }
  #cart_table tr th {
    text-align: center !important;
  }
  #cart_table tr .num {
    width: 2% !important;
  }
  #cart_table tr .action {
    text-align: center !important;
  }
  #cart_table tr .action input[type="submit"] {
    font-size: .5rem;
    padding: 2px;
  }
}

/*
会社概要
----------------------------*/
.company .section__inner {
  padding: 2.8rem 0 0;
  width: 100%;
}

.company .section__inner h1 {
  font-size: 1.8rem;
  margin-bottom: 2.3rem;
}

.company .section__inner p {
  font-size: .62rem;
  margin-bottom: 2.5rem;
}

.company .section__inner dl {
  border-bottom: 1px solid #f8f8f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: .7rem;
  margin: 0 auto;
  padding: 0.8rem 1.5rem;
  width: 800px;
}

.company .section__inner dl dt {
  font-weight: 600;
  width: 40%;
}

.company .section__inner dl dd {
  width: 58%;
}

.company .section__inner .map {
  width: 100%;
}

@media (max-width: 767px) {
  .company .section__inner {
    width: 100%;
  }
  .company .section__inner dl {
    width: 90%;
  }
  .company .section__inner dl dt {
    margin-right: .7rem;
    width: 35%;
  }
  .company .section__inner dl dd {
    width: 60%;
  }
  .company .section__inner .map {
    width: 100%;
  }
}

.key__visual {
  background: url(../img/top/key_visual_bg.jpg) no-repeat 50% 100%/auto 100%;
  height: 800px;
  padding: 80px 0;
  width: 100%;
}

.key__visual .content h1 {
  margin: 15px auto 35px;
  width: 70%;
}

.key__visual .content ul {
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  margin-bottom: 35px;
}

.key__visual .content ul li {
  -ms-flex-flow: column;
  -ms-flex-pack: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  background-color: #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column;
  height: 238px;
  justify-content: center;
  overflow: hidden;
  padding: 20px;
  position: relative;
  width: 238px;
}

.key__visual .content ul li em {
  display: block;
  font-size: 1.02rem;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 15px;
  text-align: center;
}

.key__visual .content ul li i {
  display: block;
  margin: 0 auto;
  width: 22%;
}

.key__visual .content ul li:nth-of-type(1) {
  background-color: #f3fffc;
}

.key__visual .content ul li:nth-of-type(1) em {
  color: #ff5c5c;
}

.key__visual .content ul li:nth-of-type(2) {
  background-color: #eff9ff;
  margin: 0 25px;
}

.key__visual .content ul li:nth-of-type(2) em {
  color: #35b118;
}

.key__visual .content ul li:nth-of-type(3) {
  background-color: #fffef4;
}

.key__visual .content ul li:nth-of-type(3) em {
  color: #08abff;
}

.key__visual .content ul li:nth-of-type(3) i {
  width: 62%;
}

.key__visual .content .read__text {
  color: #08374f;
  font-family: "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "Yu Mincho Light", "YuMincho", "Yu Mincho", "游明朝体", "serif";
  font-size: .92rem;
  line-height: 1.9;
  text-align: center;
}

@media (max-width: 767px) {
  .key__visual {
    height: 100vw;
    padding: 15px 0;
  }
  .key__visual .content h1 {
    margin: .4rem auto 1.0rem;
    width: 86%;
  }
  .key__visual .content ul {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 1.1rem;
  }
  .key__visual .content ul li {
    background-color: #fffef4 !important;
    height: 105px;
    padding: 0;
    width: 105px;
  }
  .key__visual .content ul li em {
    font-size: .58rem;
    margin-bottom: 15px;
  }
  .key__visual .content ul li i {
    width: 22%;
  }
  .key__visual .content ul li:nth-of-type(2) {
    margin: 0;
  }
  .key__visual .content ul li:nth-of-type(3) i {
    width: 62%;
  }
  .key__visual .content .read__text {
    font-size: .78rem;
    line-height: 1.65;
  }
}

/*
プライバシーポリシー
----------------------------*/
.privacy .section__inner {
  padding: 2.8rem 0 0;
}

.privacy .section__inner h1 {
  font-size: 1.8rem;
  margin-bottom: 2.3rem;
}

.privacy .section__inner p {
  font-size: .62rem;
  margin-bottom: 2.5rem;
}

.privacy .section__inner dl {
  background-color: #f8f8f8;
  font-size: .8rem;
  margin-bottom: 1.3rem;
  padding: 1.5rem 1.8rem;
}

.privacy .section__inner dl dt {
  font-weight: 600;
  margin-bottom: .8rem;
}
