@mixin box-center {
    margin: 0 auto;
}

@mixin inner {
    width: 90%;
    max-width: 1150px;
    margin: 0 auto;
}

@mixin  flex-all-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin img-fit {
    width: 100%;
    height: auto;
}

@mixin trxy {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin try {
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
}

@mixin trx {
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}

@mixin bg-h {
    background: no-repeat 50% 50%;
    background-size: auto 100%;
}


@mixin flex {
    display: flex;
}

@mixin flex-all-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
