//紫背景、紫文字
$yellow: #ffa200;

//緑文字
$green: #35b118;

//赤文字
$red: #ff5c5c;

//ピンク文字

$pink: #ff3e7e;

$green: #10a84c;

//薄い青文字
$blue: #6594ac;

//濃い青文字
$blue02: #08374f;

//薄い水色
$blue03: #e3f7ff;

//濃い水色
$blue04: #08abff;

//濃い水色
$blue05: #67b2ec;

//濃い水色その２
$blue06: #2b9dd7;

//ナンバー
$num: #7a959f;

//フォントゴシック
$gosic: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";

//フォント明兆
$min: "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "Yu Mincho Light", "YuMincho", "Yu Mincho", "游明朝体", "serif";

//表見出し
$tableth: #7da7e1;

//表１列目見出し
$tablethcole1: #e5ecf6;

//表１列目文字見出し
$tablethcole1-cr: #5080be;
