/*

　基本


*/
.infinite__banner__area {
    background-color: #282828;
    padding: 2.5rem 0;

    .section__inner {
        h2 {
            text-align: center;
            color: #fff;
            font-size: 1.4rem;
            margin-bottom: 2.2rem;
        }

        .banners {
            width: 100%;
            flex-wrap: wrap;

            li {
                width: 300px;
                margin-bottom: 2.4rem;

                .bnr__img {
                    margin-bottom: .4rem;
                }

                .sample__bnr__text {
                    font-size: .7rem;
                    margin-bottom: .4rem;
                }

                button {
                    background-color: $yellow;
                    width: 48%;
                    margin: 0 auto 1.2rem;
                    color: #fff;
                    padding: .75rem 0;
                    display: block;
                    border-radius: 6px;
                    font-size: .84rem;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .infinite__banner__area {
        margin-bottom: 0;

        .section__inner {
            h2 {
                text-align: center;
                font-size: 1.4rem;
                margin-bottom: 2.2rem;
            }

            .banners {
                width: 100%;
                justify-content: space-between;

                li {
                    width: 48%;
                    margin-bottom: .8rem;

                    button {
                        width: 100%;
                    }
                }
            }
        }
    }
}

/*-
モーダル
-----------------------------------*/

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba($color: #000000, $alpha: 0.5);
    z-index: 9998;

    .modal__inner {
        width: 540px;
        height: 540px;
        position: absolute;
        padding: 45px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        z-index: 9999;

        h3 {
            text-align: center;
            font-size: 1.4rem;
            font-weight: 600;
            margin-bottom: 2.5rem;
        }
    }

    .modal__bg {
        background-color: rgba($color: #000000, $alpha: 0.5);
        height: 100vh;
        position: fixed;
        overflow: hidden;
        width: 100%;
        z-index: 9998;
    }
}

@media (max-width: 767px) {
    .modal {
        .modal__inner {
            width: 90%;
            height: 92vw;
            padding: 1.5rem;

            h3 {
                font-size: 1.2rem;
                margin-bottom: 2.5rem;
            }
        }
    }
}

/*
サンプルバナーモーダル
----------------------------------------------*/

.sample__modal {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    overflow-x: auto;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    .modal__inner {
        max-width: 1600px;
        width: 90%;
        min-width: 1150px;
        margin: 9.2rem auto 0;
        position: relative;
        left: auto;
        top: auto;
        height: auto;
        transform: none;
        padding: 3.2rem;

        .sample__img {
            text-align: center;
            margin-bottom: .6rem;

            p {
                font-size: .8rem;
                margin-bottom: .8rem;
            }

            h3 {
                margin-bottom: 1.1rem;
            }

            img {
                width: auto;
                display: inline-block;
                margin: 1.2rem;
            }
        }

        .close__btn {
            width: 30%;
            margin: auto;
            background-color: #299cc5;
            height: 75px;
            line-height: 75px;
            color: #fff;
            border-bottom: 5px solid #1386af;
            text-align: center;
            border-radius: 4px;
            cursor: pointer;
            position: relative;

            &:hover {
                bottom: -4px;
                border-bottom-width: 1px;
            }
        }
    }
}

@media (max-width: 767px) {
    .modal {
        .modal__inner {
            width: 90%;
            height: 92vw;
            padding: 1.5rem;

            h3 {
                font-size: 1.2rem;
                margin-bottom: 2.5rem;
            }
        }
    }
}
