/*
基本
-----------------*/

input {
    background-color: #f8f8f8;
    padding: 8px;
    font-size: .88rem;
}

select {
    background-color: #f8f8f8;
    height: 53px;
    padding: 8px;
    font-size: .58rem;
}

input[type="submit"] {
    background-color: #ff9023;
    padding: 1.2em;
    color: #fff;
}

input[type="text"], input[type="email"] {
    border-radius: 3px;
    padding: .6rem;
}

textarea {
    background-color: #fff;
    border: 1px solid $blue05;
    padding: 1.2em;
    margin-bottom: 1.2rem;
    height: 221px;
    border-radius: 11px;
    width: 100%;
}

.note {
    color: #ff0005;
    text-align: center;
    line-height: 1.85;
}

/*ラベル名が自動的に出力されるのを非表示*/
.iopt_label {
    display: none !important;
}

::placeholder {
    color: #ccc;
}

#instruction {
    textarea {
        position: relative;
    }

    textarea::placeholder {
        text-align: center;
    }
}

.error_message {
    color: red;
}

/*初めは非表示*/
.hidden {
    display: none;
    background-color: #fff !important;
    border-color: $blue !important;
    width: 87.5%;
    margin: auto;
    padding: 2.5rem 3.6rem;
}

@media (max-width: 767px) {
    .hidden {
        width: 100%;
        padding: 2.0rem .5rem;
    }
}

/* タイトルスタイル */

.step__wrap {
    text-align: center;

    span, .step__tit {
        display: inline-block;
        font-weight: 600;
        vertical-align: middle;
    }

    span {
        background-color: #454545;
        padding: 3px 4px 2px;
        color: #fff;
        border-radius: 3px;
        font-size: .7rem;
    }

    .step__tit {
        font-size: 1.07rem;
    }
}

/*フォームエリア記載
-------------------------*/
.purchase__form {
    .form__area__out {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 70px 90px 0 90px;
            border-color: #f3f3f3 transparent transparent transparent;
        }

        &:nth-of-type(odd) {
            background-color: #f3f3f3;
        }

        &:nth-of-type(even) {
            &::before {
                border-color: #fff transparent transparent transparent;
            }
        }
    }

    .form__inner {
        dl {
            padding: 3.5rem 3.6rem;

            dt {
                margin-bottom: 25px;
            }

            dd {
                position: relative;
            }

            label {
                font-size: .88rem;

                /*各バナーの補足文の設定*/

                .sub__text {
                    white-space: nowrap;
                    display: inline-block;
                    position: absolute;
                    left: 50%;
                    bottom: 10px;
                    transform: translateX(-50%);
                    font-size: .72rem;
                    color: #454545;
                    font-weight: 100;
                }
            }

            /*サイズ用途選択スタイル記述(四角ボタン)*/
            .select__zone {
                text-align: center;

                input[type="radio"] {
                    opacity: 0;
                    position: absolute;
                }

                label {
                    display: inline-block;
                    text-align: left;
                    width: 42%;
                    position: relative;
                    background-color: #fff;
                    border: 1px solid #bbb;
                    border-bottom: 5px solid #989898;
                    border-radius: 0 0 8px 8px;
                    padding: 35px 10px 54px 163px;
                    margin: 0 .8rem 1.6rem;
                    color: $blue;
                    font-weight: 600;
                    font-size: .88rem;

                    &::after, &::before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                    }

                    &::after {
                        left: 22px;
                        width: 21px;
                        height: 21px;
                        border-radius: 3px;
                        background-color: #e0e0e0;
                    }

                    &::before {
                        top: 45%;
                        left: 25px;
                        border-left: 4px solid #bbb;
                        border-bottom: 4px solid #bbb;
                        transform: translateY(-50%) rotate(-52deg);
                        z-index: 1000;
                        width: 16px;
                        height: 6px;
                    }

                    &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4), &:nth-of-type(5), &:nth-of-type(6) {
                        background: #fff no-repeat 19% 36% / 19% auto;
                    }

                    /*サムネイル画像振り分け*/
                    &:nth-of-type(1) {
                        background-image: url(../img/icons/radio_icon01.jpg);
                    }

                    &:nth-of-type(2) {
                        background-image: url(../img/icons/radio_icon02.jpg);
                    }

                    &:nth-of-type(3) {
                        background-image: url(../img/icons/radio_icon03.png);
                    }

                    &:nth-of-type(4) {
                        background-image: url(../img/icons/radio_icon04.jpg);
                    }

                    &:nth-of-type(5) {
                        background-image: url(../img/icons/radio_icon05.jpg);
                    }

                    &:nth-of-type(6) {
                        background-image: url(../img/icons/radio_icon06.jpg);
                    }
                }

                /*クリックしたときのスタイル*/

                input[type="radio"]:checked + label {
                    border: none;
                    outline: 4px solid $yellow;
                    outline-offset: -2px;

                    &::before {
                        border-color: $yellow;
                    }
                }

                label.checked {
                    border: none;
                    outline: 4px solid $yellow;
                    outline-offset: -2px;

                    &::before {
                        border-color: $yellow;
                    }
                }
            }
        }

        .size__select.select__zone {
            label {
                /*サムネイル画像振り分け*/
                &:nth-of-type(1) {
                    background-image: url(../img/icons/s_icon.png);
                }

                &:nth-of-type(2) {
                    background-image: url(../img/icons/m_icon.png);
                }

                &:nth-of-type(3) {
                    background-image: url(../img/icons/l_icon.png);
                }
            }
        }

        input[type="radio"] {
            visibility: hidden;
            position: absolute;
        }

        /* ボタンタイプスタイル記述(黄色いボタン) */
        .select__btns {
            .select__btn__zone {
                justify-content: space-around;
                flex-wrap: wrap;
                width: 80%;
                margin: auto;

                label {
                    width: 30%;
                    border-radius: 37px;
                    color: #fff;
                    height: 78px;
                    line-height: 78px;
                    position: relative;
                    margin: 0 .5rem 1.8rem;
                    padding: 0 30px 0 112px;

                    &::after, &::before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                    }

                    &::after {
                        left: 34px;
                        border: 2px #f8f8f8 solid;
                        width: 21px;
                        height: 21px;
                        border-radius: 3px;
                        background-color: #fff;
                    }

                    &::before {
                        left: 39px;
                        border-left: 3px solid rgba($color: #000, $alpha: 0.07);
                        border-bottom: 3px solid rgba($color: #000, $alpha: 0.07);
                        transform: translateY(-50%) rotate(-52deg);
                        z-index: 1000;
                        width: 13px;
                        height: 6px;
                    }

                    &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4), &:nth-of-type(5), &:nth-of-type(6) {
                        background: #454545 no-repeat 34% 50% / 22px auto;
                    }

                    /*サムネイル画像振り分け*/
                    &:nth-of-type(1) {
                        background-image: url(../img/icons/option_icon01.png);
                    }

                    &:nth-of-type(2) {
                        background-image: url(../img/icons/option_icon02.png);
                    }

                    &:nth-of-type(3) {
                        background-image: url(../img/icons/option_icon03.png);
                    }

                    &:nth-of-type(4) {
                        background-image: url(../img/icons/option_icon01.png);
                    }

                    &:nth-of-type(5) {
                        background-image: url(../img/icons/option_icon02.png);
                    }

                    &:nth-of-type(6) {
                        background-image: url(../img/icons/option_icon03.png);
                    }

                    .sub__text {
                        bottom: -24px;
                        color: #fff;
                    }
                }

                input[type="radio"]:checked + label {
                    background-color: $yellow;

                    &::before {
                        border-color: red;
                    }

                    &::after {
                        border-color: $yellow;
                    }
                }

                label.checked {
                    background-color: $yellow;

                    &::before {
                        border-color: red;
                    }

                    &::after {
                        border-color: $yellow;
                    }
                }
            }
        }

        .select__btns {
            .select__btn__zone.limit {
                justify-content: center;

                label {
                    &:nth-of-type(1) {
                        background-image: url(../img/icons/option_icon01.png);
                    }

                    &:nth-of-type(2) {
                        background-image: url(../img/icons/option_icon01.png);
                    }

                    &:nth-of-type(3) {
                        background-image: url(../img/icons/option_icon01.png);
                    }
                }
            }
        }

        .select__btns {
            .select__btn__zone.select__data {
                justify-content: center;

                label {
                    width: 41.5%;
                    height: 74px;
                    line-height: 74px;
                    padding: 0 30px 0 86px;
                    font-size: .78rem;
                    margin: 0  .98rem 1.8rem;

                    &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4), &:nth-of-type(5), &:nth-of-type(6) {
                        background-image: none;
                    }
                }
            }
        }

        .select__btns {
            .select__btn__zone.public__btn {
                label {
                    width: 31%;
                    height: 74px;
                    line-height: 74px;
                    padding: 0 30px 0 86px;
                    font-size: 1.1rem;

                    &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4), &:nth-of-type(5), &:nth-of-type(6) {
                        background-image: none;
                    }
                }
            }
        }

        .hidden {
            p {
                margin-bottom: 1.7rem;
            }

            input, select {
                width: 100%;
            }
        }

        .special__size {
            dt {
                text-align: center;
            }

            dd {
                .special__size-box {
                    margin-bottom: 1.75rem;

                    p {
                        margin-bottom: .8rem;
                    }

                    select {
                        width: 100%;
                        font-size: 1.0rem;
                    }
                }
            }
        }

        .info__customer {
            flex-wrap: wrap;
            width: 76%;
            margin: auto;

            .text__area {
                margin: 0 .3rem 1.7rem;
                width: 48%;

                span {
                    display: block;
                    margin-bottom: .4rem;
                }

                input {
                    width: 100%;
                    background-color: #fff;
                }

                &:last-child {
                    margin-right: 51%;
                }
            }
        }
    }
}

.term {
    h3 {
        text-align: center;
    }

    .term__text__box {
        font-size: .74rem;

        span {
            margin-right: 1.0rem;
        }

        dl {
            background: none;
            padding: 0;
            margin-bottom: 2.5rem;

            dt {}

            dd {}
        }

        ul {
            margin-bottom: 2.5rem;

            li {
                margin-bottom: .9rem;
            }
        }
    }
}

@media (max-width: 767px) {
    .purchase__form {
        .form__inner {
            dl {
                padding: 2.0rem .5rem;

                dt {
                    margin-bottom: 25px;
                }

                &:nth-of-type(even) {}

                dd {}

                label {
                    font-size: .88rem;
                }

                /*サイズ選択*/
                .select__zone {
                    text-align: center;
                    width: 100%;

                    label {
                        width: 100%;
                        padding-left: 9.4rem;
                        margin: 0 auto 1.2rem;
                        font-size: .9rem;

                        &::after, &::before {}

                        &::after {
                            left: 22px;
                            border: 1px $blue solid;
                            width: 21px;
                            height: 21px;
                            border-radius: 3px;
                            background-color: #fff;
                        }

                        &::before {
                            left: 25px;
                            transform: translateY(-50%) rotate(-52deg);
                            width: 14px;
                            height: 7px;
                        }

                        &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4), &:nth-of-type(5), &:nth-of-type(6) {
                            background-position: 24% 38%;
                            background-size: 4.5rem;
                        }
                    }
                }
            }

            .select__btns {
                .select__btn__zone {
                    justify-content: space-between;
                    width: 100%;

                    label {
                        width: 49%;
                        margin: 0 0 1.2rem;
                        padding: 0;
                        padding-left: 4.8rem;
                        height: 68px;
                        line-height: 68px;

                        &::after {
                            left: 14px;
                            width: 21px;
                            height: 21px;
                        }

                        &::before {
                            left: 20px;
                            width: 13px;
                            height: 6px;
                        }

                        &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4), &:nth-of-type(5), &:nth-of-type(6) {
                            background-size: 1.35rem;
                            background-position: 35% 50%;
                        }

                        .sub__text {
                            bottom: -22px;
                            font-size: .67rem;
                        }
                    }
                }
            }

            .select__btns {
                .select__btn__zone.public__btn {
                    justify-content: space-between;

                    label {
                        width: 48%;
                        padding: 0;
                        padding-left: 3.4rem;
                    }
                }
            }

            .select__btns {
                .select__btn__zone.limit {
                    justify-content: space-around;

                    label {
                        margin: 0 0 .8rem;
                        background-size: 1.12rem;
                        background-position: 26% 50%;
                        padding-left: 5.0rem;
                        width: 66%;
                    }
                }
            }

            .select__btns {
                .select__btn__zone.select__data {
                    justify-content: center;

                    label {
                        width: 90%;
                        padding: 0 30px 0 70px;
                        font-size: .78rem;
                        margin: 0  .98rem 1.8rem;

                        &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4), &:nth-of-type(5), &:nth-of-type(6) {
                            background-image: none;
                        }
                    }
                }
            }

            .control__num {
                input {
                    width: 100%;
                }
            }

            .special__size {
                dt {
                    text-align: center;
                }

                dd {
                    .special__size-box {
                        margin-bottom: 1.75rem;

                        p {
                            margin-bottom: 25px;
                        }
                    }
                }
            }

            .info__customer {
                width: 80%;

                .text__area {
                    margin: 0 .3rem 1.7rem;
                    width: 100%;

                    &:last-child {
                        margin: 0;
                    }
                }
            }
        }
    }
}

/**
テーブルスタイル
-------------------------------**/
.total {
    dd {
        //position: static !important;

        .output__table {
            border-collapse: collapse;
            width: 100%;
            margin-bottom: 3.5rem;

            //position: fixed;
            //bottom: 0;
            //left: 0;
            //z-index: 9999;

            tr {
                th, td {
                    text-align: center;
                    vertical-align: middle;
                    padding: .9rem 0;
                    width: 20%;
                }

                th.last {
                    border-right: none;
                }
            }

            thead {
                background-color: #949494;

                tr {
                    th {
                        color: #fff;
                        border-right: 1px solid #fff;
                    }

                    th.last {
                        background-color: #5b738e;
                    }
                }
            }

            tbody {
                background-color: #FFF;

                tr {
                    td {
                        border-right: 1px solid #fff;
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .total {
        dd {
            .output__table {
                margin-bottom: 3.5rem;
                overflow: hidden;

                tr {
                    display: block;

                    th, td {
                        display: block;
                        width: auto;
                        height: 3.7rem;
                        font-size: .7rem;
                        padding: 1.4rem 0 0.7rem !important;
                    }
                }

                thead {
                    float: left;
                    width: auto;
                    width: 40%;

                    tr {
                        th {
                            border: none;
                            border-bottom: 1px solid #fff;
                        }
                    }
                }

                tbody {
                    float: left;
                    width: 60%;

                    tr {
                        width: 100%;

                        td {
                            border: none;
                            border-bottom: 1px solid #fff;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

/*カートへ入れるボタン*/

.cart__in {
    width: 422px;
    margin: 0 auto 3.5rem;

    .cart__btn__cont {
        display: inline-block;
        position: relative;

        input {
            width: 422px;
            display: block;
            height: 88px;
            line-height: 88px;
            background-color: #2b9dd7;
            border-radius: 12px;
            padding: 0;
            font-size: 1.2rem;
            padding-left: 57px;
        }

        &::after {
            content: "";
            position: absolute;
            background: url(../img/icons/cart_icon.png) no-repeat 20% 50% / 34px 35px;
            height: 35px;
            width: 34px;
            left: 45px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

@media (max-width: 767px) {
    .cart__in {
        width: 310px;

        .cart__btn__cont {
            margin: auto;
            display: block;

            input {
                width: 310px;
                display: block;
                height: 68px;
                line-height: 68px;
                border-radius: 12px;
                font-size: 1.08rem;
                padding-left: 2.2rem;
            }

            &::after {
                background-position: 28% 50%;
                background-size: 1.3rem;
                height: 25px;
                width: 24px;
                left: 26px;
            }
        }
    }
}

/*利用規約*/

.term {
    width: 100%;
    height: 320px;
    overflow-y: scroll;
    background-color: #ededed;
    padding: 1.6rem;

    h3 {
        color: $yellow;
        font-size: 1.2rem;
        margin-bottom: .8rem;

        p {
            font-size: .8rem;
        }
    }
}

/*
テーブルスタイル
----------------------------*/

.value__list {
    width: 100%;
    border-collapse: collapse;

    th, td {
        color: #000;
        padding: 15px 10px;
        text-align: center;
        vertical-align: middle;
        border: #fff solid 1px;
    }

    thead {
        background-color: #fff8ee;
    }

    tbody {
        background-color: #bed6e4;

        tr {
            td {
                font-size: 1.2rem;
            }
        }
    }
}

/*
ボタンスタイル
----------------------------*/

.send__wrap {
    margin: 35px 0;

    a {
        width: 240px;
        margin: auto;
        display: block;
        line-height: 53px;
        height: 53px;
    }

    #send-in {
        width: 240px;
        background-color: #ff9023;
        border: 1px solid #fff;
        color: #fff;
        margin: auto;
        display: block;
    }
}

#f-num {
    display: none;
}
