/*
基本
-----------------*/

input {
    background-color: #f8f8f8;
    padding: 8px;
    font-size: .88rem;
}

select {
    background-color: #f8f8f8;
    height: 53px;
    padding: 8px;
    font-size: .58rem;
}

input[type="submit"] {
    background-color: #ff9023;
    padding: 1.2em;
    color: #fff;
}

input[type="text"], input[type="email"] {
    border-radius: 3px;
    padding: .6rem;
}

textarea {
    background-color: #fff;
    padding: 1.2em;
    margin-bottom: 1.2rem;
    height: 221px;
    border-radius: 11px;
    width: 100%;
    line-height: 1.75;
    word-break: break-all;
}

.note {
    color: #454545;
    text-align: center;
    line-height: 1.43;
    font-size: .74rem;
    margin-top: 2.5rem;
}

/*ラベル名が自動的に出力されるのを非表示*/
.iopt_label {
    display: none !important;
}

::placeholder {
    color: #ccc;
    font-size: .6rem;
    line-height: 1.75;
}

#instruction {
    textarea {
        position: relative;
    }

    textarea::placeholder {
        text-align: center;
    }
}

.error_message {
    color: red;
}

/*初めは非表示*/
.hidden__filed {
    visibility: hidden;
    height: 0;
    padding-bottom: 0;

    //position: absolute !important;
}

.hidden__box {
    visibility: hidden;
    height: 0;
    border: 1px solid #bbb;
    width: 87.5%;
    margin: auto;
}

.hidden__box.viv {
    padding: 2.5rem 3.6rem;
    position: relative;
}

.viv {
    visibility: visible;
    height: auto;
}

@media (max-width: 767px) {
    .hidden__box {
        width: 100%;
    }

    .hidden__box.viv {
        padding: 2.0rem .5rem;
    }
}

/* タイトルスタイル */

.step__wrap {
    text-align: center;
    margin-bottom: 2.5rem;

    span, .step__tit {
        display: inline-block;
        font-weight: 600;
        vertical-align: middle;
    }

    span {
        background-color: #454545;
        padding: 8px 10px 7px;
        color: #fff;
        border-radius: 5px;
        font-size: .98rem;
        letter-spacing: 0.05em;
        margin-right: .2rem;
    }

    .step__tit {
        font-size: 1.9rem;
        padding: 0;
        color: #454545;
        letter-spacing: 0.05em;
    }
}

@media (max-width: 767px) {
    .step__wrap {
        .step__tit {
            display: block;
            margin-top: .7rem;
            font-size: 1.6rem;
        }

        span {
            display: inline-block;
        }
    }
}

/*
吹き出し（原寸サイズを見る）
-------------------------*/

.img__mark {
    position: absolute;
    width: 89px;
    height: 100px;
    background: no-repeat 50% 50% / 100% auto;
    background-image: url(../img/top/tip.png);
    z-index: 5000;
    cursor: pointer;
}

.img__mark#mark01 {
    left: 435px;
    top: -12px;
}

.img__mark#mark02 {
    right: 25px;
    top: -12px;
}

@media (max-width: 767px) {
    .img__mark {
        display: none;
    }
}

.animation__ballon {
    animation: img_box 2.0s ease-in infinite;
}

/*アニメーションスタイル*/

@keyframes img_box {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-5px);
    }

    50% {
        transform: translateY(0);
    }

    75% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}

/*フォームエリア記載
-------------------------*/
.purchase__form {
    h1 {
        text-align: center;
        color: #fff;
        font-weight: 600;
        padding: 1.7315789473684rem 0;
        font-size: 2.1052631578947rem;
        background-color: #2d417f;
        line-height: 1;
    }

    .form__area__out {
        position: relative;

        &:last-of-type {
            padding-bottom: 2.5rem;
        }

        .step__img {
            position: absolute;
            left: 3.5vw;
            top: 50%;
            transform: translateY(-50%);
            width: 7%;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 50px 70px 0 70px;
            border-color: #fff transparent transparent transparent;
        }

        &:nth-of-type(even) {
            background-color: #f3f3f3;
        }

        &:nth-of-type(odd) {
            &::before {
                border-color: #f3f3f3 transparent transparent transparent;
            }
        }

        &:nth-of-type(1) {
            &::before {
                border: none;
                display: none;
            }

            dl {
                padding: 3.8rem 0 2.0rem;
            }
        }
    }

    .form__inner {
        dl {
            padding: 6.5rem 0;

            dt {
                margin-bottom: 25px;
            }

            dd {
                position: relative;
            }

            /*サイズ用途選択スタイル記述(四角ボタン)*/
            .select__zone {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                input[type="radio"] {
                    opacity: 0;
                    position: absolute;
                }

                label {
                    display: inline-block;
                    text-align: left;
                    width: 48%;
                    position: relative;
                    z-index: 10;
                    background-color: #fff;
                    border: 1px solid #bbb;

                    //border-bottom: none;

                    //border-radius: 0 0 8px 8px;
                    border-radius: 5px;

                    //box-shadow: 0px 6px 0px 0px #bbbbbb;

                    height: 136px;
                    margin: 0 0 2rem;
                    color: $blue;
                    font-weight: 600;
                    font-size: .88rem;

                    &:hover {
                        bottom: -5px;
                        border-bottom-width: 1px;
                        background-position: 17% 39%;

                        /*  .item__text, .price__text {
                             position: relative;
                             bottom: -3px;
                         } */

                        .inner__label {
                            &::after {
                                background: none;
                            }
                        }
                    }

                    .inner__label {
                        padding: 25px 10px 48px 188px;
                        position: relative;
                        height: 100%;

                        &::after {
                            content: "";
                            position: absolute;
                            bottom: -4px;
                            left: 0;
                            width: 100%;
                            display: block;
                            height: 5px;
                            z-index: 9;

                            //background-color: #919191;
                            //clip-path: polygon(0 0, 100% 0, 98% 45%, 2% 45%);
                            //border-radius: 10% 10% 9% 9% / 0% 0% 100% 100%;
                            background: url(../img/top/bg_btn_bottom.png) no-repeat 0% 100% / 100% 100%;
                        }
                    }

                    /*各バナーの補足文の設定*/
                    .item__text {
                        font-size: 1.2rem;
                        display: inline-block;
                        margin-top: .355rem;
                    }

                    .sub__text {
                        white-space: nowrap;
                        display: inline-block;
                        position: absolute;
                        left: 78px;
                        bottom: 23px;

                        //transform: translateX(-50%);
                        font-size: .72rem;
                        color: #454545;
                        font-weight: 100;
                    }

                    .price__text {
                        display: block;
                        margin-top: .38rem;
                        color: $green;
                        font-size: .86rem;
                    }

                    .line-through {
                        text-decoration: line-through;
                        font-size: .65rem;
                        display: inline-block;
                        margin-right: .7rem;
                    }

                    .campaign__price {
                        color: #fb6464;
                        font-size: .97rem;
                    }

                    .price__text.red {
                        color: #fb6464;
                    }

                    &::after, &::before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                    }

                    &::after {
                        left: 22px;
                        width: 34px;
                        height: 34px;
                        border-radius: 5px;
                        background-color: #e0e0e0;
                    }

                    &::before {
                        top: 47%;
                        left: 26px;
                        border-left: 7px solid #bbb;
                        border-bottom: 7px solid #bbb;
                        transform: translateY(-50%) rotate(-46deg);
                        z-index: 1000;
                        width: 30px;
                        height: 16px;
                    }

                    &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4), &:nth-of-type(5), &:nth-of-type(6) {
                        background: #fff no-repeat 17% 34% / 17% auto;
                    }

                    /*サムネイル画像振り分け*/
                    &:nth-of-type(1) {
                        background-image: url(../img/icons/radio_icon01.jpg?0410);
                    }

                    &:nth-of-type(2) {
                        background-image: url(../img/icons/radio_icon02.png);
                    }

                    &:nth-of-type(3) {
                        background-image: url(../img/icons/radio_icon03.png);
                    }

                    &:nth-of-type(4) {
                        background-image: url(../img/icons/radio_icon04.jpg);
                    }

                    &:nth-of-type(5) {
                        background-image: url(../img/icons/radio_icon05.jpg);
                    }

                    &:nth-of-type(6) {
                        background-image: url(../img/icons/radio_icon06.jpg);
                    }
                }

                /*クリックしたときのスタイル*/

                input[type="radio"]:checked + label {
                    border: none;

                    //outline: 4px solid $yellow;
                    //outline-offset: -2px;
                    background-color: #299cc5;

                    &::before {
                        border-color: #1db22b;
                    }

                    &::after {
                        background-color: #fff;
                    }

                    span, em {
                        color: #fff !important;
                    }

                    .inner__label {
                        &::after {
                            background-image: url(../img/top/bg_btn_bottom_check.png);
                        }
                    }

                    &:hover {
                        .inner__label {
                            &::after {
                                background: none;
                                bottom: -2px;
                            }
                        }
                    }
                }

                label.checked {
                    border: none;
                    outline: 4px solid $yellow;
                    outline-offset: -2px;

                    &::before {
                        border-color: $green;
                    }
                }
            }

            #size__select {
                label {
                    &:nth-of-type(1) {
                        background-image: url(../img/icons/s_icon.png) !important;
                    }

                    &:nth-of-type(2) {
                        background-image: url(../img/icons/m_icon.png);
                    }

                    &:nth-of-type(3) {
                        background-image: url(../img/icons/l_icon.png);
                    }
                }
            }
        }

        .select__zone.select__data, .select__zone.public__btn, .select__zone.limit {
            justify-content: center;

            label {
                background-image: none !important;
                width: 28.3888%;
                margin: 0 .5rem .6rem;
                color: #454545;

                .inner__label {
                    padding: 30px 10px 10px 30px;
                }
            }

            p.note {
                width: 50%;
                margin: 30px auto 0;
            }
        }

        .select__zone.type02 {
            label {
                .inner__label {
                    padding-top: 35px;
                }

                span {
                    display: block;
                    text-align: center;
                }
            }
        }

        input[type="radio"] {
            visibility: hidden;
            position: absolute;
        }

        .hidden__box {
            p {
                margin-bottom: 1.7rem;
                font-weight: 600;
            }

            input, select {
                width: 100%;
            }
        }

        .special__size {
            dt {
                text-align: center;
            }

            dd {
                .special__size-box {
                    margin-bottom: 1.75rem;

                    p {
                        margin-bottom: .8rem;
                    }

                    select {
                        width: 100%;
                        font-size: 1.0rem;
                    }
                }
            }
        }

        .info__customer {
            flex-wrap: wrap;
            width: 76%;
            margin: auto;

            .text__area {
                margin: 0 .3rem 1.7rem;
                width: 48%;

                span {
                    display: block;
                    margin-bottom: .4rem;
                }

                input {
                    width: 100%;
                    background-color: #fff;
                }

                &:last-child {
                    margin-right: 51%;
                }
            }
        }

        .file__up__area {
            .box__content {
                margin-bottom: 1.8rem;

                @media (max-width: 767px) {
                    margin-bottom: 0;
                    flex-flow: column-reverse;
                }

                .file__drop, .text {
                    width: 49%;

                    textarea {
                        font-size: .7rem;
                    }

                    @media (max-width: 767px) {
                        width: 100%;
                    }
                }
            }
        }

        .file__drop {
            .row {
                margin: 0;

                .target {
                    padding: 2.0rem 1.1rem;
                    margin: 0 0 18px;
                    background-color: transparent;
                    border: 2px dashed #00a0e9;
                    border-radius: 3px;
                    font-size: .78rem;
                    height: 184px;

                    @media (max-width: 767px) {
                        display: none;
                    }

                    .sub__text {
                        font-size: 1.0rem;
                        color: #299cc5;
                        margin-bottom: .7rem;
                        position: relative;
                        display: inline-block;
                        font-weight: 600;

                        .up_icon {
                            left: -50px;
                            top: 5px;
                            position: absolute;
                            width: 40px;
                        }
                    }

                    .sub__text02 {
                        font-size: .46rem;
                        color: #6a6a6a;
                    }
                }

                .input__wrap {
                    width: 100%;

                    input {
                        width: 100%;
                        background-color: #fff;
                        font-size: .7rem;
                    }
                }
            }
        }

        .text {
            @media (max-width: 767px) {
                margin-bottom: 1.2rem;
            }

            textarea {
                margin-bottom: 0;
                height: 240px;

                ::placeholder {
                    text-align: left;
                }
            }
        }
    }

    .btn__to__content {
        @media (max-width: 767px) {
            flex-flow: column;
        }

        .btn__to {
            width: 40%;

            @media (max-width: 767px) {
                width: 100%;
                margin: .8rem;
            }
        }

        p {
            font-size: .62rem;
        }
    }
}

/* 隠しインプット */

.hidden__url__text {
    height: 0;

    input {
        visibility: hidden;
        height: 0;
        padding: 0;
    }
}

/*ファイルアウトプッとエリア*/

#url__out {
    width: 100%;

    tr {
        &:nth-of-type(even) {
            background-color: #f8f8f8;
        }

        &:nth-of-type(odd) {
            background-color: #e3e3e3;
        }
    }

    td {
        vertical-align: middle;
        font-size: .68rem;

        input {
            background-color: #fff;
            width: 100%;
            font-size: .62rem;
            letter-spacing: 1px;
        }

        button {
            line-height: 1.0;
            padding: 0;
            background-color: #d9534f;
            color: #fff;
        }

        .name {
            a {
                display: inline-block;
                margin-bottom: .38rem;
            }
        }
    }

    .preview {
        width: 45px;
        display: inline-block;
    }
}

.term {
    margin-bottom: 1.5rem;

    h3 {
        text-align: center;
    }

    .term__text__box {
        font-size: .74rem;

        span {
            margin-right: 1.0rem;
        }

        dl {
            background: none;
            padding: 0;
            margin-bottom: 2.5rem;

            dt {}

            dd {}
        }

        ul {
            margin-bottom: 2.5rem;

            li {
                margin-bottom: .9rem;
            }
        }
    }
}

@media (max-width: 767px) {
    .purchase__form {
        .step__img {
            display: none;
        }

        .form__area__out {
            &::before {
                border-width: 1.98rem 2.5rem 0;
            }
        }

        .form__inner {
            dl {
                padding: 4.0rem .5rem;

                dt {
                    margin-bottom: 25px;
                }

                dd {}

                label {
                    font-size: .88rem;
                }

                /*サイズ選択*/
                .select__zone {
                    text-align: center;
                    width: 100%;

                    label {
                        width: 100%;
                        margin: 0 auto 1.2rem;
                        font-size: .9rem;

                        .inner__label {
                            padding-left: 9.4rem;
                        }

                        &::after {
                            left: 22px;
                            border: 1px $blue solid;
                            width: 21px;
                            height: 21px;
                            border-radius: 3px;
                            background-color: #fff;
                        }

                        &::before {
                            left: 25px;
                            width: 19px;
                            height: 10px;
                            border-width: 4px;
                        }

                        &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4), &:nth-of-type(5), &:nth-of-type(6) {
                            background-position: 24% 38%;
                            background-size: 4.5rem;
                        }

                        .sub__text {
                            left: 50%;
                            transform: translateX(-50%);
                        }
                    }
                }

                .select__zone.type02 {
                    label {
                        background-image: none !important;
                        width: 100%;
                        margin: 0 auto 1.5rem;

                        .inner__label {
                            padding-left: 1.0rem;
                        }
                    }

                    p.note {
                        width: 100%;
                    }
                }
            }

            .control__num {
                input {
                    width: 100%;
                }
            }

            .special__size {
                dt {
                    text-align: center;
                }

                dd {
                    .special__size-box {
                        margin-bottom: 1.75rem;

                        p {
                            margin-bottom: 25px;
                        }
                    }
                }
            }
        }
    }
}

/**
テーブルスタイル
-------------------------------**/
.total {
    dd {
        //position: static !important;

        .output__table {
            border-collapse: collapse;
            width: 100%;
            margin-bottom: 3.5rem;

            //position: fixed;
            //bottom: 0;
            //left: 0;
            //z-index: 9999;

            tr {
                th, td {
                    text-align: center;
                    vertical-align: middle;
                    padding: .9rem 0;
                    width: 20%;
                }

                th.last {
                    border-right: none;
                }
            }

            thead {
                background-color: #949494;

                tr {
                    th {
                        color: #fff;
                        border-right: 1px solid #fff;
                    }

                    th.last {
                        background-color: #5b738e;
                    }
                }
            }

            tbody {
                background-color: #FFF;

                tr {
                    td {
                        border-right: 1px solid #fff;
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .total {
        dd {
            .output__table {
                margin-bottom: 3.5rem;
                overflow: hidden;

                tr {
                    display: block;

                    th, td {
                        display: block;
                        width: auto;
                        height: 3.7rem;
                        font-size: .7rem;
                        padding: 1.4rem 0 0.7rem !important;
                    }
                }

                thead {
                    float: left;
                    width: auto;
                    width: 40%;

                    tr {
                        th {
                            border: none;
                            border-bottom: 1px solid #fff;
                        }
                    }
                }

                tbody {
                    float: left;
                    width: 60%;

                    tr {
                        width: 100%;

                        td {
                            border: none;
                            border-bottom: 1px solid #fff;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

/*カートへ入れるボタン*/

.cart__in {
    width: 752px;
    padding: 6.5rem 0 2.0rem;
    margin: auto;

    .cart__btn__cont {
        display: inline-block;
        position: relative;

        .cart__ballon {
            position: absolute;
            width: 89px;
            height: 99px;
            top: -66px;
            right: 20px;
            z-index: 500;
        }

        .cart__text {
            position: absolute;
            color: #fff;
            left: 50%;
            top: 28px;
            transform: translateX(-50%);
            font-size: .64rem;
            white-space: nowrap;
            font-weight: 300;
        }

        &:hover {
            .cart__text {
                top: 36px;
            }

            &::after {
                top: 56.5%;
            }

            input {
                bottom: -7px;
                border-bottom-width: 2px;
            }
        }

        input {
            width: 752px;
            display: block;
            height: 136px;
            line-height: 136px;
            background-color: #13b131;
            border-radius: 5px;

            //border-bottom: 6px solid #008f1b;
            padding: 0;
            padding-top: .2rem;
            font-size: 40px;
            font-weight: 600;
            padding-left: 57px;
            letter-spacing: 0.05em;
            position: relative;

            &:hover {
                //bottom: -5px;
                // border-bottom-width: 2px;
           
            }
        }

        &::after {
            content: "";
            position: absolute;
            background: url(../img/icons/cart_icon.png) no-repeat 20% 50% / 100% auto;
            height: 37px;
            width: 48px;
            left: 98px;
            top: 53%;
            transform: translateY(-50%);
        }

        &::before {
            background: url(../img/top/bg_cart_btn_bottom.png) no-repeat center;
            background-size: 100% auto;
            content: "";
            position: absolute;
            bottom: -7px;
            width: 100%;
            height: 13px;
            display: block;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

@media (max-width: 767px) {
    .cart__in {
        padding: 4.0rem 0 2.5rem;
        min-width: 330px;
        width: 100%;
        max-width: 580px;

        .cart__btn__cont {
            margin: auto;
            display: block;

            .cart__ballon {
                display: none;
            }

            .cart__text {
                font-size: .5rem;
                top: 20px;
            }

            input {
                width: 100%;
                display: block;
                height: 98px;
                line-height: 98px;
                font-size: 1.3rem;
                padding-left: .7rem;
            }

            &:hover {
                .cart__text {
                    top: 30px;
                }

                &::after {
                    top: 60.5%;
                }

                input {
                    bottom: -7px;
                    border-bottom-width: 2px;
                }
            }

            &::after {
                background-position: 28% 50%;

                //background-size: 1.3rem;
                height: 25px;
                width: 24px;
                left: .98rem;
            }
        }
    }
}

/*利用規約*/

.term__inc#term {
    width: 100%;
    height: 320px;
    overflow-y: scroll;
    background-color: #ededed;
    padding: 1.6rem;
    font-size: .74rem;
    padding-bottom: 1.8rem;

    h3 {
        color: $yellow;
        font-size: 1.2rem;
        margin-bottom: .5rem;
        text-align: center;
        font-weight: 600;
    }

    p {
        font-size: .8rem;
    }

    dl {
        padding: 0;
        margin-bottom: 1.5rem;

        dt {
            font-weight: 600;
        }
    }
}

/*
テーブルスタイル
----------------------------*/

.value__list {
    width: 100%;
    border-collapse: collapse;

    th, td {
        color: #000;
        padding: 15px 10px;
        text-align: center;
        vertical-align: middle;
        border: #fff solid 1px;
    }

    thead {
        background-color: #fff8ee;
    }

    tbody {
        background-color: #bed6e4;

        tr {
            td {
                font-size: 1.2rem;
            }
        }
    }
}

/*
ボタンスタイル
----------------------------*/

.send__wrap {
    margin: 35px 0;

    a {
        width: 240px;
        margin: auto;
        display: block;
        line-height: 53px;
        height: 53px;
    }

    #send-in {
        width: 240px;
        background-color: #ff9023;
        border: 1px solid #fff;
        color: #fff;
        margin: auto;
        display: block;
    }
}

#f-num {
    display: none;
}
