/*
カートページスタイル
-------------------------------*/

.customer_form {
    width: 100%;
}

.usccart_navi {
    .ucart {
        li {
            font-size: .9rem;
        }
    }
}

@media (max-width: 767px) {
    .cart__area {
        .section__inner {
            width: 96%;
        }
    }

    .usccart_navi {
        .ucart {
            li {
                font-size: .7rem;
            }
        }
    }

    #cart_table {
        box-sizing: border-box;
        font-size: .39rem;

        .item {
            width: 40% !important;
        }

        tr {
            th, td {
                width: 10% !important;
                padding: 0;
                text-align: left !important;
                white-space: normal !important;
            }

            .num {
                width: 2% !important;
            }

            .action {
                text-align: center !important;

                input[type="submit"] {
                    font-size: .5rem;
                    padding: 2px;
                }
            }
        }

        thead {
            tr {}
        }
    }
}
