/*
カートページスタイル
-------------------------------*/

.customer_form {
    width: 100%;
}

.cart__area {
    input {
        padding: .32rem !important;
    }

    table {
        tr {
            th, td {
                padding: .6rem;
            }
        }
    }
}

.usccart_navi {
    .ucart {
        margin: 0;
        padding: .6rem 0;

        li {
            font-size: .9rem;
        }

        li.usccart_cart, li.usccart_delivery, li.usccart_customer {
            background: none;
            background-color: $yellow;
        }

        li.usccart_confirm {
            background: none;
            background-color: $red;
        }
    }
}

#cart th, #cart td {
    border-bottom-width: 2px !important;
}

#cart .action {
    width: auto;
}

.send {
    input {
        padding: 1.2rem 1.1rem !important;
        color: #fff;
    }

    /*戻る系のボタン色変更*/
    input.back_cart_button, input.back_to_delivery_button {
        background-color: #666 !important;
    }
}

.continue_shopping_button {
    background-color: #666 !important;
}

@media (max-width: 767px) {
    .cart__area {
        margin-top: 116px;

        .section__inner {
            width: 96%;
        }
    }

    .usccart_navi {
        .ucart {
            li {
                font-size: .7rem;
            }
        }
    }

    #customer-info .customer_form input {
        width: 100% !important;
    }

    #customer-info th, #customer-info td {
        padding: 12px 10px !important;
        text-align: center !important;
        vertical-align: middle !important;
    }

    #cart_table {
        box-sizing: border-box;
        font-size: .39rem;

        .item {
            width: 26% !important;
        }

        tr {
            th, td {
                width: 10% !important;
                padding: 0;
                text-align: left !important;
                white-space: normal !important;
            }

            th {
                text-align: center !important;
            }

            .num {
                width: 2% !important;
            }

            .action {
                text-align: center !important;

                input[type="submit"] {
                    font-size: .5rem;
                    padding: 2px;
                }
            }
        }

        thead {
            tr {}
        }
    }
}
