/*
お問い合わせ
---------------------------------*/

.pages__title.contact__bg {
    background-image: url(../img/contact/contact_bg.jpg);
    background-position: 50% 100%;
    margin-bottom: 0;
}

.contact {
    background-color: $blue03;
    padding: 2.5rem 0;

    .section__inner {
        background-color: #fff;

        .contact__form {
            h2 {
                text-align: center;
                padding: .82rem 0;
                font-size: 1.27rem;
                color: #fff;
                background-color: $blue04;
            }

            .required, .any {
                display: inline-block;
                vertical-align: middle;
                padding: 4px 7px 5px;
                border-radius: 3px;
                color: #fff;
                margin-left: 0.7rem;
                font-size: .55rem;
            }

            .required {
                background-color: $red;
            }

            .any {
                background-color: $yellow;
            }

            .contact__form__content {
                padding: 1.9rem 8.8rem 3.8rem;

                @media (max-width: 767px) {
                    padding: 1.8rem;
                }

                .sub__text {
                    margin-bottom: 1.8rem;
                    font-size: .8rem;
                }

                .txt_confirm {
                    display: none;
                }

                /* 確認画面で注釈文変更 */
                .wpcf7-form-mode-confirm {
                    .txt_edit {
                        display: none;
                    }

                    .txt_confirm {
                        display: block;
                    }
                }

                input[type="text"], input[type="email"], textarea {
                    background-color: #f8f8f8;
                    border: none;
                }

                input[type="text"].wpcf7c-conf, input[type="email"].wpcf7c-conf, textarea.wpcf7c-conf {
                    background-color: #fff;
                }

                input[type="text"], input[type="email"] {
                    width: 55%;

                    @media (max-width: 767px) {
                        width: 100%;
                    }
                }

                textarea {
                    width: 100%;
                }

                input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
                    border: $blue05 1px solid;
                }

                input[type="text"].wpcf7c-conf:focus, input[type="email"].wpcf7c-conf:focus, textarea.wpcf7c-conf:focus {
                    border: none;
                }

                .wpcf7-display-none {
                    display: none !important;
                }

                span.wpcf7-not-valid-tip {
                    display: none !important;
                }

                input[type="submit"], input[type="button"] {
                    background-color: $blue04;
                    display: block;
                    width: 315px;
                    margin: auto;
                    padding: 1.45rem 0;
                    color: #fff;

                    @media (max-width: 767px) {
                        width: 65%;
                    }
                }

                input.button-rewrite {
                    margin-bottom: .75rem;
                }

                input[type="radio"], input[type="checkbox"] {
                    visibility: hidden;
                    position: absolute;
                }

                label {
                    width: 100%;
                }

                dl {
                    padding: 2.5rem 0 2.65rem;
                    border-bottom: 1px solid #d8d8d8;

                    dt {
                        font-size: .92rem;
                        margin-bottom: .8rem;
                    }

                    &:first-of-type {
                        padding-top: 0;
                    }

                    &:last-of-type {
                        border-bottom: none;
                    }
                }

                .radio {
                    dd {
                        .wpcf7-list-item {
                            margin: 0;
                            position: relative;
                            line-height: 1.0;
                            margin-right: .8rem;
                            margin-bottom: .8rem;

                            &:last-of-type {
                                margin: 0;
                            }

                            .wpcf7-list-item-label {
                                padding: .2rem 0;
                                padding-left: 1.6rem;
                                line-height: 1.0;
                                vertical-align: middle;
                                font-size: .6rem;
                                white-space: nowrap;
                            }

                            input + .wpcf7-list-item-label::before {
                                content: "";
                                position: absolute;
                                left: 0;
                                display: block;
                                top: 50%;
                                transform: translateY(-50%);
                                width: 20px;
                                height: 20px;
                                border-radius: 2px;
                                border: 1px solid $blue;
                                background-color: #f8f8f8;
                            }

                            input + .wpcf7-list-item-label::after {
                                content: "";
                                position: absolute;
                                top: 50%;
                                left: 5px;
                                border-left: 3px solid rgba($color: #000, $alpha: 0.07);
                                border-bottom: 3px solid rgba($color: #000, $alpha: 0.07);
                                transform: translateY(-50%) rotate(-52deg);
                                z-index: 1000;
                                width: 12px;
                                height: 5px;
                            }

                            input:checked + .wpcf7-list-item-label::after {
                                content: "";
                                border-color: $red;
                            }
                        }
                    }
                }

                /*ラジオボックス偽装スタイル*/
            }
        }
    }
}

/* サンクスページ */

.thanks {
    background-color: $blue03;
    margin-bottom: 0;

    .section__inner {
        padding: 3.1rem 0;
        background-color: #fff;

        h1 {
            margin-bottom: 1.5rem;
            font-size: 1.8rem;
        }

        p {
            font-size: .8rem;
            line-height: 1.92;
        }
    }
}
