/*
納品の流れ
----------------------------*/

.faq__bg {
    background-color: #6fa1cf;
}

.faq {
    div.section__inner {
        width: 1050px;
        padding-right: 5%;

        .faq__list {
            dl {
                margin-bottom: 2.5rem;

                dt, dd {
                    display: flex;

                    .qa__tit {
                        padding: .7rem;
                        display: inline-block;

                        img {
                            display: block;
                            width: 28px;
                        }
                    }

                    .text {
                        padding: 0 .55rem;
                        width: 100%;
                    }
                }

                dt {
                    font-size: 1.1rem;
                    align-items: center;

                    .qa__tit {
                        background-color: $blue04;
                    }
                }

                dd {
                    width: 94.25%;
                    margin-left: 5.5%;
                    font-size: .72rem;
                    align-items: flex-start;

                    .qa__tit {
                        background-color: $yellow;
                    }

                    a {
                        color: $red;
                        text-decoration: underline;
                    }

                    .text {
                        border-top: 1px solid $yellow;
                        padding: .72rem .9rem;
                        display: block;
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .faq {
        div.section__inner {
            width: 90%;
            padding-right: 0;
            padding-bottom: 0;

            .faq__list {
                dl {
                    dt, dd {
                        .qa__tit {
                            padding: .75rem;

                            img {
                                width: 12.5px;
                            }
                        }

                        .text {
                            padding: 0 .42rem;
                        }
                    }

                    dt {
                        font-size: .82rem;

                        .qa__tit {
                            background-color: $blue04;
                        }
                    }

                    dd {
                        align-items: flex-start;
                        font-size: .62rem;
                        width: auto;
                        margin-left: 2.18rem;

                        .text {
                            padding: .52rem .42rem;
                        }
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}
