.c-labels {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;

    &::after {
        content: "";
        display: block;
        width: 100%;
        max-width: 355px;
    }

    &__label {
        border: 1px solid #8e8e8e;
        border-radius: rem(8);
        background-color: #fff;
        position: relative;
        padding: 0 rem(16);
        padding-right: rem(8);
        width: 100%;
        max-width: 355px;
        height: rem(91);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: ease-in-out .2s;

        @media (max-width: 767px) {
            height: rem(74);
            margin-bottom: 1.15rem;
        }

        &--sp-row {
            @media (max-width: 767px) {
                width: 48%;
            }
        }

        &:hover {
            background-color: #f7f7f7;
        }

        &--flex-center {
            //justify-content: center;

        }

        &--flex-start {
            justify-content: flex-start;
        }
    }

    &__circle {
        @include try;

        display: block;
        left: rem(16);
        border-radius: 50%;
        border: 1px solid #8e8e8e;
        background-color: #fff;
        width: 20px;
        height: 20px;
    }

    &__mark {
        position: relative;
        display: block;
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        top: -1px;
        left: -1px;

        &::after {
            content: "";
            background-color: #13b131;
            width: rem(12);
            height: rem(12);
            opacity: 0;

            @include trxy;

            border-radius: 50%;
        }
    }

    &__text {
        font-size: rem(22.51);
        font-weight: 600;

        @media (max-width: 767px) {
            font-size: 1.02rem;
        }

        &--blank {
            display: inline-block;
            padding-left: rem(35);
            background: no-repeat 0% 50% url(../img/icons/icon_blank.png);
            background-size: rem(19) auto;

            @media (max-width: 767px) {
                padding: .55rem 0;
                padding-left: rem(35);
            }
        }
    }

    &__caption {
        font-size: rem(14);
        margin-left: rem(15);
        width: 190px;

        @media (max-width: 767px) {
            width: 35%;
            line-height: 1.32;
        }

        &--radius {
            background-color: #ff5e5e;
            color: #fff;
            text-align: center;
            border-radius: rem(17);
            padding: .68rem 0;
            width: 104px;
        }
    }

    &__caption-price {
        color: #1a9eba;
        font-size: rem(25);
        font-weight: 600;
    }

    &__left {
        margin-left: rem(30);
        font-weight: 600;
        width: 97px;

        &--wide {
            width: 160px;
        }
    }

    &__price {
        color: #1a9eba;
        font-size: rem(16.79);
        margin-top: rem(8);
        width: 187px;
        line-height: 1.28;
    }

    &__input {
        position: absolute;
        visibility: hidden;

        &:checked {
            & + {
                .c-labels__label {
                    .c-labels__circle {
                        border-color: #13b131;
                    }

                    .c-labels__mark {
                        &::after {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}

.is-selected {
    .c-labels__circle {
        border-color: #13b131;
    }

    .c-labels__mark {
        &::after {
            opacity: 1;
        }
    }
}

.c-check {
    &__label {
        display: inline-block;
        padding-left: rem(36);
        position: relative;
    }

    &__circle {
        left: 0;
    }

    &__mark {}

    &__text {
        font-size: rem(22.87);
        font-weight: 600;

        @media (max-width: 767px) {
            font-size: 1.22rem;
        }
    }

    &__input {
        position: absolute;
        visibility: hidden;

        &:checked {
            & + {
                .c-check__label {
                    .c-check__circle {
                        border-color: #13b131;
                    }

                    .c-check__mark {
                        &::after {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    &--radio {
        .c-check__label {
            border: 1px solid #8e8e8e;
            border-radius: rem(8);
            background-color: #fff;
            position: relative;
            padding: 0 rem(16);
            padding-right: rem(8);
            width: 100%;
            max-width: 355px;
            height: rem(91);
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: ease-in-out .2s;

            @media (max-width: 767px) {
                height: rem(74);
                margin-bottom: 1.15rem;
            }

            &--sp-row {
                @media (max-width: 767px) {
                    width: 48%;
                }
            }

            &:hover {
                background-color: #f7f7f7;
            }

            &--flex-center {
                //justify-content: center;

            }
        }

        .c-check__circle {
            @include try;

            display: block;
            left: rem(16);
            border-radius: 50%;
            border: 1px solid #8e8e8e;
            background-color: #fff;
            width: 20px;
            height: 20px;
        }

        .c-check__mark {
            position: relative;
            display: block;
            width: calc(100% + 2px);
            height: calc(100% + 2px);
            top: -1px;
            left: -1px;

            &::after {
                content: "";
                background-color: #13b131;
                width: rem(12);
                height: rem(12);
                opacity: 0;

                @include trxy;

                border-radius: 50%;
            }
        }

        .c-check__text {
            font-size: rem(22.51);
            font-weight: 600;

            @media (max-width: 767px) {
                font-size: 1.02rem;
            }

            &--blank {
                display: inline-block;
                padding-left: rem(35);
                background: no-repeat 0% 50% url(../img/icons/icon_blank.png);
                background-size: rem(19) auto;

                @media (max-width: 767px) {
                    padding: .55rem 0;
                    padding-left: rem(35);
                }
            }
        }

        .c-check__caption {
            font-size: rem(14);
            margin-left: rem(15);
            width: 190px;

            @media (max-width: 767px) {
                width: 35%;
                line-height: 1.32;
            }

            &--radius {
                background-color: #ff5e5e;
                color: #fff;
                text-align: center;
                border-radius: rem(17);
                padding: .68rem 0;
                width: 104px;
            }
        }

        .c-check__left {
            margin-left: rem(30);
            font-weight: 600;
            width: 97px;

            &--wide {
                width: 160px;
            }
        }

        .c-check__price {
            color: #1a9eba;
            font-size: rem(16.79);
            margin-top: rem(8);
            width: 187px;
            line-height: 1.28;
        }

        .c-check__input {
            position: absolute;
            visibility: hidden;

            &:checked {
                & + {
                    .c-labels__label {
                        .c-labels__circle {
                            border-color: #13b131;
                        }

                        .c-labels__mark {
                            &::after {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }
}

.c-sel {
    select {
        appearance: none;
        background: #fff url(../img/icons/icon_pulldown.png) no-repeat 95% 50%;
        background-size: rem(14) auto;
        background-color: #fff;
        width: 100%;
        border: 1px solid #8e8e8e;
        border-radius: rem(9);
        height: 91px;
        font-size: rem(22.74);
        font-weight: 600;
        padding-left: rem(66);
        color: #454545;
        cursor: pointer;
         transition: ease-in-out .2s;

        &:hover {
            background-color: #f7f7f7;
        }

        @media (max-width: 767px) {
            height: 4.625rem;
            font-size: 1.02rem;
        }
    }

    @media (max-width: 767px) {
        margin-bottom: 1.15rem;
    }
}
