.cards {
    padding: 1.6rem 0;

    p {
        width: 17%;
        margin: auto;
    }
}

#site__footer {
    margin-bottom: 90px;
    background-color: #f2f2f2;
    padding: 0 0 1.2rem;

    .footer__logo {
        width: 5.5%;
        margin: auto;
        padding: 1.6rem 0;
    }

    .footer__nav {
        text-align: center;
        margin-bottom: .2rem;

        li {
            display: inline-block;
            font-size: .6rem;
            margin: 0 .4rem;

            a {
                color: #454545;
                letter-spacing: 0;
            }
        }
    }

    .copy {
        color: #a2a2a2;
        font-size: .5rem;
    }
}

.page {
    #site__footer {
        margin-top: 130px;
        margin-bottom: 0;
    }
}

@media (max-width: 767px) {
    .cards {
        p {
            width: 50%;
        }
    }

    #site__footer {
        margin-bottom: 150px;

        .footer__logo {
            width: 28%;
        }

        .copy {
            color: #a2a2a2;
            font-size: .5rem;
        }
    }
}

/*
LIVE　チャット位置設定
--------------------------*/

/*表示位置*/
.home {
    #wp-live-chat {
        bottom: 100px !important;
    }

    #wp-live-chat-4 {
        right: 110px !important;
        bottom: 180px !important;
    }

    @media (max-width: 767px) {
        #wp-live-chat {
            bottom: 6.2rem !important;
        }

        #wp-live-chat-4 {
            right: 110px !important;
            bottom: 180px !important;
        }
    }
}
