#site__header {
    background-color: #fff;
    padding: 20px 0;

    img {
        vertical-align: middle;
    }

    .header__inner {
        .header__logo {
            width: 140px;
        }
    }

    .header__nav {
        ul {
            li {
                margin: 0 .6rem;

                a {
                    color: #1f1f1f;
                    font-size: .58rem;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}

.page {
    #site__header {
        background-color: #454545;

        .header__nav {
            ul {
                li {
                    a {
                        color: #fff;
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    #site__header {
        height: 54px;
        padding: 15px 0;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9999;

        img {
            vertical-align: top;
        }

        .header__inner {
            .header__logo {
                width: 110px;
            }
        }

        .menu-trigger,
        .menu-trigger span {
            display: inline-block;
            transition: all .4s;
        }

        .menu-trigger {
            position: relative;
            width: 35px;
            height: 23px;
            margin-top: -12px;
        }

        .menu-trigger span {
            position: absolute;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: #1f1f1f;
        }

        .menu-trigger span:nth-of-type(1) {
            top: 0;
        }

        .menu-trigger span:nth-of-type(2) {
            top: 10px;
        }

        .menu-trigger span:nth-of-type(3) {
            bottom: 0;
        }

        .menu-trigger::after {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -15px;
            content: 'menu';
            display: block;
            width: 100%;
            color: #1f1f1f;
            font-size: 10px;
            text-decoration: none;
            text-align: center;
            white-space: nowrap;
            transition: all .4s;
        }

        .menu-trigger.active::after {
            content: 'close';
        }

        .menu-trigger.active span:nth-of-type(1) {
            transform: translateY(10px) rotate(-45deg);
        }

        .menu-trigger.active span:nth-of-type(2) {
            opacity: 0;
        }

        .menu-trigger.active span:nth-of-type(3) {
            transform: translateY(-10px) rotate(45deg);
        }

        .header__nav {
            opacity: 0;
            visibility: hidden;
            position: absolute;
            left: 0;
            top: 54px;
            width: 100%;
            transition: all .4s;
            z-index: 5000;
            background-color: rgba($color: #000000, $alpha: 0.68);

            ul {
                display: block;
                padding: 0 3.5%;

                li {
                    display: block;
                    margin: 0;
                    padding: .8rem 0;
                    border-bottom: 1px solid #fff;

                    a {
                        font-size: .75rem;
                        display: block;
                        color: #fff;
                        padding: 0 1.5%;
                    }

                    &:last-child {
                        margin-right: 0;
                        border-bottom: none;
                    }
                }
            }
        }

        .header__nav.active {
            opacity: 1;
            visibility: visible;
        }
    }

    .page {
        #site__header {
            .menu-trigger span {
                background-color: #fff;
            }

            .menu-trigger::after {
                color: #fff;
            }
        }
    }
}
