.p-work-area {
    padding: 5.88rem 0;
    background-color: #f8f8f8;

    @media (max-width: 767px) {
        padding-top: 3.63rem;
    }
}

.p-search-wrapper {
    margin-bottom: 3.88rem;
}

.p-search-ttl {
    display: block;
    text-align: center;
    position: relative;
    background-color: $orange;
    color: #fff;
    font-weight: 600;
    font-size: 1.7rem;
    line-height: 1;
    padding: .98rem 0;
    max-width: 1174px;
    width: 100%;

    @include inner;

    cursor: pointer;

    @media (max-width: 767px) {
        font-size: 1.4rem;
    }

    //margin-bottom: 3.48rem;
    &::after {
        content: "";
        border-bottom: 2px solid #fff;
        border-right: 2px solid #fff;
        width: rem(20);
        height: rem(20);

        @include try;

        right: rem(30);
        transform: translateY(-73%) rotate(45deg);
        transition: ease-in .25s;
    }
}

.p-search-check {
    &:checked {
        + .p-search-ttl {
            &::after {
                transform: translateY(-40%) rotate(-135deg);
            }
        }

        ~ .p-search-area {
            display: block;
        }
    }
}

.p-search-area {
    background-color: #fff;
    max-width: 1174px;
    width: 100%;

    @include inner;

    padding-top: 2.22rem;
    display: none;
}

.p-bnr-type-out {
    margin-bottom: 1.92rem;
}

.p-bnr-type {
    text-align: center;

    &__item {
        display: inline-block;

        @media (max-width: 767px) {
            width: 46.33333333%;
            margin-bottom: .46rem;
        }
    }

    &__label {
        border: 1px solid #454545;
        width: 210px;
        height: 51px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding: 0 .3rem;
        margin: 0 .24rem;
        transition: ease-in .28s;

        @media (max-width: 767px) {
            width: 100%;
            height: 11vw;
            margin: 0;
        }
    }

    &__name {
        font-size: .98rem;
        color: #454545;
    }
}

.p-bnr-type-check {
    &:checked {
        + .p-bnr-type__label {
            background-color: #299cc5;
            border-color: #299cc5;

            .p-bnr-type__name {
                color: #fff;
            }
        }
    }
}

.p-search-out {
    padding: 1.44rem 1.94rem;

    &__ttl {
        text-align: center;
        font-size: 1.38rem;
        font-weight: 600;
        margin-bottom: 1.84rem;
        line-height: 1;
    }
}

.p-bnr-industry {
    text-align: center;
    margin: 0 auto;
    max-width: 1400px;

    &__item {
        display: inline-block;
        margin-bottom: .55rem;
    }

    &__label {
        text-align: center;
        padding: .42rem .68rem;
        padding-left: 1.65rem;
        line-height: 1;
        border: 1px solid #cecece;
        border-radius: rem(3);
        position: relative;
        cursor: pointer;
    }

    &__name {
        font-size: .96rem;
    }

    &__square {
        @include try;

        left: rem(7);
        border: 1px solid #8e8e8e;
        display: inline-block;
        width: rem(14);
        height: rem(14);
    }

    &__inside {
        position: relative;
        display: block;
        height: 100%;

        &::after {
            content: "";

            @include trx;

            top: -31%;
            transform: translateX(-50%) rotate(40deg);
            width: rem(6);
            height: rem(11);
            border-bottom: rem(3) solid #969696;
            border-right: rem(3) solid #969696;
            opacity: 0.3;
        }
    }
}

.p-bnr-industry-check {
    &:checked {
        + .p-bnr-industry__label {
            background-color: #ebbf51;
            border-color: #fff;

            .p-bnr-industry__square {
                background-color: #fff;
            }

            .p-bnr-industry__inside {
                border-color: #fff;

                &::after {
                    border-color: #57c75a;
                    opacity: 1;
                }
            }

            .p-bnr-industry__name {
                color: #fff;
            }
        }
    }
}

.p-works {
    // @include flex;

    /* justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start; */
    column-count: 5;
    column-gap: 20;

    @include inner;

    /*  display: grid;
     grid-template-columns: 32% 32% 32%;
     grid-template-rows: 1fr 1fr 1fr; */
    width: 98%;
    max-width: 1900px;

    @media (max-width: 767px) {
        width: 92%;
        column-count: 2;
        justify-content: space-between;
    }

    &__item {
        width: 100%;
        text-align: center;
        background-color: #fff;
        padding: 1.2rem .82rem;

        @media screen and (min-width: 768px) and (max-width: 1800px) {
            padding: .62vw 2.888%;
        }

        //margin: 0 .96vw .88vw;
        margin-bottom: 20px;
        box-shadow: 0px 0px 16px 6px rgba(226, 226, 226, 0.6);
        transition: ease-in-out .32s;
        cursor: pointer;
        page-break-inside: avoid;
        break-inside: avoid;

        @media (max-width: 767px) {
            //width: 48%;
            margin: 0 0 1.22rem;
            padding: .88rem .82rem;
        }

        &:hover {
            box-shadow: none;
            transform: scale(1.095);
            opacity: 0.8;
        }

        img {
            width: auto;
            max-width: 100%;
            height: auto;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__thumb {
        margin-bottom: .72rem;

        @media screen and (min-width: 768px) and (max-width: 1800px) {
            margin-bottom: .4vw;
        }
    }

    &__type {
        text-align: center;
        font-size: .98rem;
        font-weight: 600;

        @media screen and (min-width: 768px) and (max-width: 1800px) {
            font-size: .98vw;
        }
    }

    &__industry {
        text-align: center;
        margin-top: .75rem;

        @media screen and (min-width: 768px) and (max-width: 1800px) {
            margin-top: .22vw;
        }
    }

    &__cat {
        display: inline-block;
        line-height: 1;
        padding: .32rem .45rem;
        background-color: #eaeaea;
        color: #666;
        border-radius: rem(3);
        margin-right: .58rem;

        @media screen and (min-width: 768px) and (max-width: 1800px) {
            padding: .32vw .45vw;
            font-size: .78vw;
        }

        @media (max-width: 767px) {
            margin-bottom: .32rem;
        }
    }

    /*  &::after {
         content: "";
         display: block;
         width: 340px;
     } */
}

.p-loading {
    display: none;
    width: .62em;
    height: .62em;
    border-radius: 50%;
    margin: 2.55rem auto 0;
    animation: load5 1.1s infinite ease;

    &.is-show {
        display: block;
    }
}

@keyframes load5 {
    0%,
    100% {
        box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }

    12.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }

    25% {
        box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }

    37.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }

    50% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }

    62.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }

    75% {
        box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }

    87.5% {
        box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
}

/*

制作実績のモーダル
--------*/

.p-banner-modal {
    position: fixed;
    overflow: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: ease-in .3s;
    height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
    visibility: hidden;
    opacity: 0;

    &.is-modal-show {
        opacity: 1;
        visibility: visible;
    }

    &__bg {
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba($color: #000000, $alpha: 0.42);
    }

    &__content {
        max-width: 90%;
        width: auto;
        min-width: 740px;
        height: auto;
        max-height: 750px;
        position: absolute;
        z-index: 9998;
        overflow-y: scroll;
        padding: 1.55rem;

        @include trxy;

        background-color: #fff;

        //margin: 10% 0;

        @media (max-width: 767px) {
            width: 90%;
            min-width: auto;
            max-height: 88vh;
        }
    }

    &__inner {
        position: relative;
        padding: 1.47rem;
    }

    &__title {
        text-align: center;
        font-size: 1.32rem;
        font-weight: 400;
        line-height: 1.27;
        padding: .54rem 0;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        margin-bottom: 1.54rem;
    }

    &__img {
        margin-bottom: 1.55rem;

        img {
            display: block;
            width: auto;
            max-width: 100%;
            margin: auto;
        }
    }

    &__bottom {
        border: rem(6) solid #ececec;
        padding: .88rem .63rem;
        width: 75%;
        margin: 0 auto 1.288rem;
        display: flex;
        justify-content: center;

        @media (max-width: 767px) {
            width: 100%;
            padding: .44rem .31rem;
        }
    }

    &__list {
        display: flex;

        //justify-content: space-between;
        align-items: center;

        //width: 50%;
        font-size: .94rem;
        margin: 0 .78rem;

        &:not(:last-of-type) {
            //margin-bottom: 1.22rem;
       
        }
    }

    &__cap {
        //width: 50%;
        margin-right: .89rem;
    }

    &__data {
        //width: 50%;
   
    }

    &__cat-list {
        display: flex;
    }

    &__desc {
        //padding: 0 2.222rem;
        font-size: .85rem;
        line-height: 1.35;
        max-width: 75%;
        margin: 0 auto;

        @media (max-width: 767px) {
            padding: 0;
            max-width: 100%;
        }
    }

    &__btn {
        width: 230px;
        padding: .72rem 0;
        background-color: $blue02;
        color: #fff;
        text-align: center;
        border-radius: rem(3);
        margin: 1.44rem auto 0;
        cursor: pointer;
    }
}

.is-of-hidden {
    overflow: hidden;
}
